
  #cityDetail .col-sm-4,#cityDetail .col-sm-8{
    padding:5px !important;
  }
  #cityDetail .panel{
    margin-bottom:10px !important;
  }

  .panel-title{
    font-family: "Homestead";
  }
  .link-to-directory{
    cursor:pointer;
  }
  .link-to-directory:hover{
    text-decoration: underline;
  }
  .btn-to-directory{
    width:100%;
    margin-top: 10px;
    font-weight: 500;
  }

  #btn-communecter{
    width: auto;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 10px;
    right: 5%;
    z-index:1;
    background-color: rgba(255, 255, 255, 0.63);
    padding-bottom: 5px;
    box-shadow: 0px 0px 3px 3px RGBA(114, 114, 114, 0.31);
  }
  #btn-communecter small{
    font-size:16px;
    word-break: normal;
  }
  #btn-communecter:hover{
    background-color: #E33551;
    color:white !important;
  }
  h1.cityName-header{
    background-color: rgba(255, 255, 255, 0.63);
    padding: 30px;
    margin-bottom: -3px;
    font-size: 32px;
    border-radius: 5px;
  }

  h1.you-live{
    font-size: 18px !important;
    padding: 10px;
    border-radius: 0px;
    margin: -5px -5px 5px;
    font-weight: 300 !important;
    margin-bottom: 0px;
  }
  .why-communect{
    font-size:17px;
    font-weight: 300;
    margin-top:7px;
  }
  .margin-top-20{
    margin-top:20px !important;
  }
  .btn-discover-more {
    font-size:17px;
    white-space: unset;
  }
  .info-why{
    font-weight: 300;
    height: 80px;
  }
  @media screen and (max-width: 1024px) {
    #btn-communecter{
      font-size:17px;
    }
    h1.you-live{
      font-size:26px !important;
    }
    
  }

  #pod-local-actors .list-group-item {
      position: relative;
      padding: 10px 5px;
      margin-bottom: -1px;
      background-color: #FFF;
      border: 1px solid #DDD;
      display: inline-block;
      height: 125px;
      text-align: center;
      font-family: "homestead";
      font-size: 17px;
      border-radius: 0px;
      border-right: 0px;
      border-top: 0px;
      margin-top: 1px;
  }

  #pod-local-actors .list-group-item:hover {
    z-index: 1;
    text-decoration: none !important;
    -moz-box-shadow: 0px 0px 5px -1px #656565;
    -webkit-box-shadow: 0px 0px 5px -1px #656565;
    -o-box-shadow: 0px 0px 5px -1px #656565;
    box-shadow: 0px 0px 5px -1px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
  }
  #pod-local-actors .list-group-item .badge {
    font-size: 14px;
    font-family: Helvetica;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    padding-top: 5px;
    top: 11px;
    right: 20px;
    text-align: center;
  }


  .pod-local-actors .list-group-item .badge {
    font-size: 14px;
    font-family: Helvetica;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    padding-top: 5px;
    top: 11px;
    right: 20px;
    text-align: center;
  }

  .leaflet-popup-content .pod-local-actors .list-group-item {
      position: relative;
      display: block;
      padding: 10px 5px;
      margin-bottom: -1px;
      background-color: #FFF;
      width: 50%;
      text-align: center;
      height: 60px;
      border: 1px solid #DDD;
      font-weight: 500;
  }
  /*view randomOrga*/



  #div-discover .btn-discover{
    border-radius: 60px;
    font-size: 50px;
    font-weight: 200;
    border: 1px solid transparent;
    width: 90px;
    height: 90px;
  }
  #div-discover .btn-discover.bg-red{
    font-size: 43px;
    padding-top: 12px;
  }
  #div-discover .btn-discover.bg-azure:hover{
    background-color: white !important;
    border-color: #2BB0C6 !important;
    color: #2BB0C6 !important;
  }
  #div-discover .btn-discover.bg-red:hover{
    background-color: white !important;
    border-color: #E33551 !important;
    color: #E33551 !important;
  }


  #div-participate .btn-participate{
    border-radius: 60px;
    font-size: 50px;
    font-weight: 200;
    border: 1px solid transparent;
    width: 120px;
    height: 120px;
    padding-top:20px;
  }
  #div-participate .btn-participate:hover{
    background-color: white !important;
    border-color: #E33551 !important;
    color: #E33551 !important;
  }

  @media screen and (max-width: 768px) {
    
   h1.cityName-header{
    margin-top:0px;
   }
   #pod-local-actors .list-group-item{
    height:90px;
    font-size:13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
   }
   #btn-communecter{
      top:10px;
   }
}