.menuSmallMenu{
width: 100%;
}
.menuSmallMenu div.item{
	width: 49%;
	height: 65px;
	text-align: center;
	display: inline-block;
	margin: 0px;
	margin-bottom: 20px;
}
.menuSmallMenu a{
	display: inline-block;
	margin-bottom: 5px;
	font-size: 17px;
	border:2px solid transparent;
	width: 100%;
}
.menuSmallMenu a:hover{
	border:2px solid white;
}
.menuSmallMenu a.btn i{
	padding: 3px;
	font-size: 2em;
}
.menuSmallBlockUI .blockMsg {
    left: 10% !important;
    top: 6%ยง !important;
    width: 82% !important;
}
.menuSmallBlockUI img {
    height: auto;
    max-width: 100% !important;
    /*width: 60px;*/
}

#menu-my-profil-text {
   bottom: 10px;
   font-size: 85%;
   position: absolute;
   left: 0; 
   width: 100%; 
   color : white;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

.fa-small i.fa{
	font-size:1em !important;
}
.bg-dark-red {
    color: white !important;
    background-color: #653C3C !important;
}

@media screen and (max-width: 1024px) {

	.menuSmallMenu a, .lbl-btn-menu-name-add{
		font-size: 14px;
	}
}
@media screen and (max-width: 767px) {
	.menuSmallBlockUI{
		width: 100% !important;
		left: 0% !important;	
	}
	.menuSmallMenu a.btn i{
		font-size: 1.2em;
	}
}