@media screen and (min-width: 767px) and (max-width: 920px){
	.main-top-menu .moduleLabel {
    	max-width: 19% !important;
	}

}
@media screen and (min-width: 920px) and (max-width: 1130px) {
	.main-top-menu .moduleLabel {
    	max-width: 32% !important;
	}
}

#btn-menu-launch{
	padding: 12px;
	margin-left: 1px;
	box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
}
#btn-toogle-map{
	margin-right: 10px;
	padding-top: 8px !important;
	box-shadow: 0px -1px 4px -1px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 0px -1px 4px -1px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 0px -1px 4px -1px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 0px -1px 4px -1px rgba(66, 66, 66, 0.79) !important;
}

#btn-toogle-map:hover{
	box-shadow: 0px -1px 4px 0px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 0px -1px 4px 0px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 0px -1px 4px 0px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 0px -1px 4px 0px rgba(66, 66, 66, 0.79) !important;
}
#main-btn-co{
	margin-right:5px;
	box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
}
#main-btn-co:hover{
	box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
}

#logo-main-menu{
	float:left;
	font-size: 24px;
	width: 45px;
	height: 50px;
	padding: 5px;
	top: 0px;
	z-index: 15;
	background-color: rgb(255, 255, 255);
	display: inline;
	margin-right: 10px;
}
#logo-main-menu{

}
#btn-menu-launch:hover{
	box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
}

.mainLabel {
    font-size: 21px;
	margin-bottom: 0px;
	margin-left: -17px;
	margin-top: 16px;
	display: inline-block;
}
#main-title {
    margin-top: 16px !important;
}


@media screen and (max-width: 767px){
	#notificationPanelSearch{
		position: fixed;
		top: 51px;
		right: 50px;
		width: 300px;
		/*max-height: 80%;
		overflow-y: auto;
		background-color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 0px 0px 10px 10px;*/
	}
	#main-btn-co{
		margin-right:0px;
	}
	button.btn-menu-notif{
		margin-right: -10px;
	}
}