*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



body, button{
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.controls{
  padding: 10px;
  background: #182129;
  opacity: 0.9;
  color: #eee;
  margin-bottom: 5px;
  border: 1px solid #3399FF;
  border-radius: 4px;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: .2em .4em;
  background: #3399FF;
  border: 0;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.mixcontainer .mix {
    display: none;
    border: 1px solid #3399FF;
    background-color: #182129;
    opacity: 0.9;
    padding:10px;
    margin-bottom:5px;
    color: white;
    z-index: 1;
}

.mixcontainer .boxColor1 { background-color: #333}
.mixcontainer .boxColor2 { background-color: #182129}


.mixcontainer .mix a,.mixcontainer .mix span{
    background-color: #3399FF;
    color:#000;
    padding:3px;
    border:1px solid #3399FF; 
    text-decoration: none;
}
.mixcontainer .mix a.titleMix{
  color:white;
  border-color: transparent;
  background-color: transparent;
  word-wrap:break-word;
  font-weight: bold;
  }
.mixcontainer .mix span.info{
  color:white;
  font-size: xx-small;
  background-color: transparent;
  border: none;
  margin:0px;
  display: inline;
}

.mixcontainer .mix span{
  display: block;
  margin:3px;
}
.mixcontainer .mix a:hover{
    background-color: transparent;
    color: #3399FF;
}
.mixcontainer .mix a.active,.mixcontainer .mix span.active{
    background-color: transparent;
    color: #3399FF;
}

@media all and (min-width: 420px){
  .mixcontainer .mix,
  .mixcontainer .gap{
    width: 100%;
  }
}

@media all and (min-width: 640px){
  .mixcontainer .mix,
  .mixcontainer .gap{
    width: 33%;
  }
}
/**
 * List Styles
 */

.mixcontainer.list .mix{
  width: 100%;
}

.mixcontainer.list .mix:before{
  padding-top: 40px;
}