  
  ul li {list-style: none}
  .tpl_title{font-size: 28px !important;}
  .tpl_title2{font-size: 38px;}
  .panel-title {font-size:25px;}
  .points{padding-left:10px;}
  .tpl_shortDesc{font-size:17px; font-weight: 300; margin-left:20px;}

  /* CAROUSEL */
  .carousel-control.left{
    /*background-image: unset !important;*/
    background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(185, 185, 185, 0.5) 100%) !important;
    
  }
  .carousel-control.right{
    /*background-image: unset !important;*/
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(185, 185, 185, 0.5) 100%) !important;
    
  }
  .carousel-control{
    color:#000;
  }
  #docCarousel{
    min-width:100%;
  	float: left;
    box-shadow: 0px 0px 10px 0px rgb(95, 95, 95);
    padding: 0px 5%;
    margin-bottom:50px;
    margin-top:40px;
  }
  #docCarousel .carousel-control .glyphicon{
    background-color: rgb(180, 180, 180);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 10px;
    bottom: 20px;
    top:unset;
  }
  #docCarousel .carousel-control.right .glyphicon{
    right: 25px;
    padding-right: 4px;
  }
  #docCarousel .carousel-control.left .glyphicon{
    left: 25px;
  }


  .carousel-indicators{
    top: -20px;
    bottom:unset;
    z-index: 2;
  }
  .carousel-indicators li {
    background-color: rgb(71, 95, 111);
    padding: 15px;
    margin:4px;
    border-color: transparent !important;
    border-radius: 50%;
    
  }
  .carousel-indicators li.active {
    background-color: #E33551;
    padding: 18px;
    margin: 0px;
    margin-bottom: 2px;
    
  }
  .btn-elements .btn{
  	width:50px;
  	height:50px;
  	border-radius: 50%;
  }
  .carousel-inner {
    margin-top: 30px;
    padding-bottom: 30px;
}


.img-schemas{
  width:80%;
  max-width:60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.panel-title.text-red{
  color: #E33551 !important;
}
.panel-title.text-red:hover{
  color: #3C5665 !important;
}
.main-col-search{
  overflow-x: hidden;
}