

  h1.citizenAssembly-header{
    background-color: rgba(255, 255, 255, 0);
    padding-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 0px;
    /*-moz-box-shadow: 0px 3px 10px 1px #656565;
    -webkit-box-shadow: 0px 3px 10px 1px #656565;
    -o-box-shadow: 0px 3px 10px 1px #656565;
    box-shadow: 0px 3px 10px 1px #656565;*/
  }


  .citizenAssembly-header h1{
  	font-size: 32px;
	
  }
	
 /* #thumb-profil-parent{
      margin-top:-60px;
      margin-bottom:15px;
      -moz-box-shadow: 0px 3px 10px 1px #656565;
      -webkit-box-shadow: 0px 3px 10px 1px #656565;
      -o-box-shadow: 0px 3px 10px 1px #656565;
      box-shadow: 0px 3px 10px 1px #656565;
    }*/
#thumb-profil-parent{
  /*margin-top:-60px;
  margin-bottom:20px;*/
  width: auto;
  -moz-box-shadow: 0px 3px 10px 1px #656565;
  -webkit-box-shadow: 0px 3px 10px 1px #656565;
  -o-box-shadow: 0px 3px 10px 1px #656565;
  box-shadow: 0px 3px 10px 1px #656565;
}

/* TAB */
.homestead .label-default {
  font-weight: 300;
  font-family: "Helvetica Neue";
  padding: 2px 8px 4px 8px !important;
  top: -3px;
  position: relative;
  border-radius: 30px;
  width: 30px !important;
}
.nav-menu-rooms{
  /*padding-left:5px;*/
  position: relative;
  bottom: 0px;
}
.Helvetica{
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
h1.citizenAssembly-header .nav-menu-rooms{
  margin-top:15px;
}

.nav-menu-rooms.nav-tabs > li{
  background-color: #454545;
  font-size: 17px;
} 

.nav-menu-rooms.nav-tabs > li a{
  color: #DEDEDE;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px !important;
  padding: 10px 15px !important;
  font-size: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
}
.nav-menu-rooms.nav-tabs > li.active a{
  color: #2BB0C6;
}
.nav-menu-rooms.nav-tabs > li a:hover{
  color: #2BB0C6;
}

.parentSpaceName{
  background-color: white;
  padding-bottom:15px;
}

b, strong {
    font-weight: 700 !important;
}

.nav-menu-rooms #img-profil-tab{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: -2px;
}

.breadscrum, .breadscrum .btn.text-dark{
  font-size: 16px; 
  font-weight: 400;
}
.breadscrum .btn{
  padding:0px 5px;
}

#room-container {
      -moz-box-shadow: 0px 3px 10px 1px #656565;
      -webkit-box-shadow: 0px 3px 10px 1px #656565;
      -o-box-shadow: 0px 3px 10px 1px #656565;
      box-shadow: 0px 3px 10px 1px #656565;
      margin-top: -5px;
  }

  #room-container .box-ajaxTools .btn.tooltips {
      border-radius: 10px !important;
      margin-top: 20px;
      margin-left: 5px;
  }
  #room-container .box-ajaxTools{
    text-align: right !important;
  }

@media screen and (min-width: 1060px) {
  
}
@media screen and (max-width: 1060px) {
  
  .assemblyHeadSection {  
    background-position: 0px 50px;
  }
  .citizenAssembly-header{
        font-size: 22px;
  }
  .container-tool-vote {
    font-size: 17px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .assemblyHeadSection {  
    background-position: 0px 0px;
  }
  .citizenAssembly-header{
  	/*stop: 100px;*/
  	/*height:160px;*/
  }
  .citizenAssembly-header h1 {
	font-size: 24px;
  }
  .row.vote-row {
    top: 230px;
  }
  .row.vote-row.parentSpaceName{
	   	top: 300px;
	}
  h1.citizenAssembly-header {
    margin-top: 0px !important;
  }

@media screen and (max-width: 600px) {
  
}



  .leftlinks a.btn{color:black;background-color: yellow;border: 0px solid yellow;}
  .leftlinks a.btn:hover{color:white;background-color: #3C5665;}
  
  a.btn.alertlink   {background-color:red;color:white;border: 1px solid red;}
  a.btn.golink      {background-color:green;color:white;border: 1px solid green;}
  a.btn.voteUp      {background-color: #93C22C;border: 1px solid green;}
  a.btn.voteUnclear {background-color: #f3f000;border: 1px solid yellow;}
  a.btn.voteMoreInfo{background-color: #C1ABD4;border: 1px solid #789289;}
  a.btn.voteAbstain {color: black;background-color: white;border: 1px solid grey !important;}
  a.btn.voteDown    {background-color: #db254e;border: 1px solid #db254e;}

  .commentPod .panel {box-shadow: none;}
  .commentPod .panel-heading {border-bottom-width: 0px;}

  .leftlinks a.btn{
    border: transparent;
  border-radius: 25px;
  font-size: 25px;
  }

  .progress-bar-green{background-color: #93C22C;}
  .progress-bar-blue{background-color: #4da9c8;}
  .progress-bar-white{background-color: #C9C9C9;}
  .progress-bar-purple{background-color: #C1ABD4;}
  .progress-bar-red{background-color: #db254e;}

  .color-btnvote-green  {background-color: #93C22C; color: black; padding: 8px;border-radius: 30px;}
  .color-btnvote-blue {background-color: #4da9c8; color: black; padding: 8px;border-radius: 30px;}
  .color-btnvote-white  {background-color: #FFF;  color: black; padding: 8px;border-radius: 30px; border: 1px solid #939393;}
  .color-btnvote-purple {background-color: #C1ABD4; color: black; padding: 8px;border-radius: 30px;}
  .color-btnvote-red  {background-color: #db254e; color: black; padding: 8px;border-radius: 30px;}

  .msg-head-tool-vote{
    width:100%;
    font-size: 18px;
    font-weight: 300;
  }