.assemblyHeadSection {  
      /*background-image:url(<?php echo $this->module->assetsUrl; ?>/images/Discussion.jpg); */
      /*background-image: url(/ph/assets/449afa38/images/city/cityDefaultHead_BW.jpg);*/
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 0px -50px;
      background-size: 100% 40%;
    }

      .citizenAssembly-header{
        background-color: rgba(255, 255, 255, 0.63);
		padding-top: 0px;
		margin-bottom: -3px;
		font-size: 26px;
		top: 125px;
		z-index: 1;
		position: absolute;
		width: 96%;
		left: 2%;
		padding-bottom: 15px;
		height:200px;
      }

    .citizenAssembly-header h1{
    	font-size: 32px;
		
    }
    .row.vote-row.contentProposal{
	   	position: absolute;
		padding-top: 5px;
		top: 350px;
		background-color: white;
		width: 100%;
		z-index: 0;
    }
    .row.vote-row.parentSpaceName{
	   	position: absolute;
		padding-top: 5px;
		top: 300px;
		background-color: white;
		width: 100%;
		height:50px;
		z-index: 1;
		-moz-box-shadow:  0px 0px 6px 0px rgba(101, 101, 101, 0.39);
		-webkit-box-shadow:  0px 0px 6px 0px rgba(101, 101, 101, 0.39);
		-o-box-shadow:  0px 0px 6px 0px rgba(101, 101, 101, 0.39);
		box-shadow:  0px 0px 6px 0px rgba(101, 101, 101, 0.39);
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
    }
    .row.vote-row.parentSpaceName h1{
    	padding-top:10px;
		margin:0px !important;
	}
	
  #thumb-profil-parent{
      margin-top:-60px;
      margin-bottom:15px;
      -moz-box-shadow: 0px 3px 10px 1px #656565;
      -webkit-box-shadow: 0px 3px 10px 1px #656565;
      -o-box-shadow: 0px 3px 10px 1px #656565;
      box-shadow: 0px 3px 10px 1px #656565;
    }



@media screen and (min-width: 1060px) {
  
}
@media screen and (max-width: 1060px) {
  
  .assemblyHeadSection {  
    background-position: 0px 50px;
  }
  .citizenAssembly-header{
        font-size: 22px;
  }
  .container-tool-vote {
    font-size: 17px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .assemblyHeadSection {  
    background-position: 0px 0px;
  }
  .citizenAssembly-header{
  	/*stop: 100px;*/
  	height:160px;
  }
  .citizenAssembly-header h1 {
	font-size: 24px;
  }
  .row.vote-row {
    top: 230px;
  }
  .row.vote-row.parentSpaceName{
	   	top: 300px;
	}
}

@media screen and (max-width: 600px) {
  
}