

  h1.citizenAssembly-header{
    background-color: rgba(255, 255, 255, 0);
    padding-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 0px;
    /*-moz-box-shadow: 0px 3px 10px 1px #656565;
    -webkit-box-shadow: 0px 3px 10px 1px #656565;
    -o-box-shadow: 0px 3px 10px 1px #656565;
    box-shadow: 0px 3px 10px 1px #656565;*/
  }


  .citizenAssembly-header h1{
  	font-size: 32px;
	
  }
	
 /* #thumb-profil-parent{
      margin-top:-60px;
      margin-bottom:15px;
      -moz-box-shadow: 0px 3px 10px 1px #656565;
      -webkit-box-shadow: 0px 3px 10px 1px #656565;
      -o-box-shadow: 0px 3px 10px 1px #656565;
      box-shadow: 0px 3px 10px 1px #656565;
    }*/
#thumb-profil-parent{
  /*margin-top:-60px;
  margin-bottom:20px;*/
  width: auto;
  -moz-box-shadow: 0px 3px 10px 1px #656565;
  -webkit-box-shadow: 0px 3px 10px 1px #656565;
  -o-box-shadow: 0px 3px 10px 1px #656565;
  box-shadow: 0px 3px 10px 1px #656565;
}

/* TAB */
.homestead .label-default {
  font-weight: 300;
  font-family: "Helvetica Neue";
  padding: 2px 8px 4px 8px !important;
  top: -3px;
  position: relative;
  border-radius: 30px;
  width: 30px !important;
}
.nav-menu-rooms{
  /*padding-left:5px;*/
  position: relative;
  bottom: 0px;
}
.Helvetica{
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
h1.citizenAssembly-header .nav-menu-rooms{
  margin-top:15px;
}

.nav-menu-rooms.nav-tabs > li{
  background-color: #454545;
  font-size: 17px;
} 

.nav-menu-rooms.nav-tabs > li a{
  color: #DEDEDE;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px !important;
  padding: 10px 15px !important;
  font-size: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
}
.nav-menu-rooms.nav-tabs > li.active a{
  color: #2BB0C6;
}
.nav-menu-rooms.nav-tabs > li a:hover{
  color: #2BB0C6;
}

.parentSpaceName{
  background-color: white;
  padding-bottom:15px;
}

b, strong {
    font-weight: 700 !important;
}

.nav-menu-rooms #img-profil-tab{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: -2px;
}

.breadscrum, .breadscrum .btn.text-dark{
  font-size: 16px; 
  font-weight: 400;
}
.breadscrum .btn{
  padding:0px 5px;
}

#room-container {
      -moz-box-shadow: 0px 3px 10px 1px #656565;
      -webkit-box-shadow: 0px 3px 10px 1px #656565;
      -o-box-shadow: 0px 3px 10px 1px #656565;
      box-shadow: 0px 3px 10px 1px #656565;
      margin-top: -5px;
  }

  #room-container .box-ajaxTools .btn.tooltips {
      border-radius: 10px !important;
      margin: 10px;
  }

@media screen and (min-width: 1060px) {
  
}
@media screen and (max-width: 1060px) {
  
  .assemblyHeadSection {  
    background-position: 0px 50px;
  }
  .citizenAssembly-header{
        font-size: 22px;
  }
  .container-tool-vote {
    font-size: 17px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .assemblyHeadSection {  
    background-position: 0px 0px;
  }
  .citizenAssembly-header{
  	/*stop: 100px;*/
  	/*height:160px;*/
  }
  .citizenAssembly-header h1 {
	font-size: 24px;
  }
  .row.vote-row {
    top: 230px;
  }
  .row.vote-row.parentSpaceName{
	   	top: 300px;
	}
  h1.citizenAssembly-header {
    margin-top: 0px !important;
  }

@media screen and (max-width: 600px) {
  
}