.floopDrawer  #list-scroll-type .panel-default,
.floopDrawer  #list-scroll-type .panel-heading,
.floopDrawer  #list-scroll-type .panel-body{
	margin-bottom: 0px;
}
.floopDrawer {
	  z-index: 10;
	  display: none;	
	  width:0px;
      float:right;
      top:0px;
      background-color: white;
      margin-top:-10px;
      text-align: left;
	  padding:3px;
	  -moz-box-shadow:    inset 1px 0px 2px 1px rgba(0, 0, 0, 0.4);
	  -webkit-box-shadow: inset 1px 0px 2px 1px rgba(0, 0, 0, 0.4);
	  -o-box-shadow:      inset 1px 0px 2px 1px rgba(0, 0, 0, 0.4);
	  box-shadow:         inset 1px 0px 2px 1px rgba(0, 0, 0, 0.4);
	  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=4);
}
.floopDrawer .floopScroll{
	overflow-y:auto;
    overflow-x:hidden;
    scroll-behavior: smooth; /*only for firefox*/
}
.floopDrawer input#search-contact{
	width: 296px;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;
	height: 52px;
	background-color: rgba(255, 255, 255, 0.54);
	border: 0px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.23);
	padding-top: 12px;
}
.floopDrawer  .floopScroll .panel-default,
.floopDrawer  .floopScroll .panel-heading,
.floopDrawer  .floopScroll .panel-body{
	margin-bottom: 0px;
}
.floopDrawer .panel-heading{
	padding: 0px;
	min-height: auto;
	background-color: #EAEAEA !important;
	border: none;
	width: 102%;
	 -moz-box-shadow:      0px 2px 2px -2px rgba(0, 0, 0, 0.4);
	  -webkit-box-shadow:  0px 2px 2px -2px rgba(0, 0, 0, 0.4);
	  -o-box-shadow:       0px 2px 2px -2px rgba(0, 0, 0, 0.4);
	  box-shadow:          0px 2px 2px -2px rgba(0, 0, 0, 0.4);
	  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=4);
}

.floopDrawer .panel-heading h4{
	margin:0px;
	font-size: 18px !important;
	/*background-color: #315C6E !important; /*rgba(114, 114, 114, 0.1);* /*/
	padding: 10px;
	border-radius: 0px;
}
.floopDrawer .modal-body{
	padding: 0px 15px;
}

.floopDrawer .panel-body{
	background-color: transparent !important;
}
.floopDrawer .panel{
	padding: 0px;
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.floopDrawer ul{
	list-style: none !important;
	padding-left: 0px;
	margin-bottom:20px;
}

.floopDrawer .list-group{
	margin-bottom:0px !important;
}
.floopDrawer #list-scroll-type ul{
	margin-bottom:0px !important;
}
.floopDrawer #menu-type ul li{
	font-size:16px;
}
.floopDrawer #menu-type ul li i{
	width:20px;
	text-align: center;
}
.floopDrawer #menu-type ul li a:hover{
	color:inherit !important;	
	text-decoration: underline;
}
.floopDrawer .btn-scroll-type{
	border:none!important;
    padding: 3px;
    text-align: left;
}
.floopDrawer .btn-select-contact{
	min-width:102% !important;
	border-radius:0px;
}

.floopDrawer #menu-type .btn-scroll-type{
	border:none!important;
    padding: 2px;
	text-align: left;
	width: 92%;
	margin-left: 4%;
	padding: 6px 4px 4px 8px;
	margin-bottom: 3px;
	background:transparent !important;
}
.floopDrawer #menu-type .btn-scroll-type:hover{
	background-color:rgba(0, 0, 0, 0.04) !important;
}
.floopDrawer #scope-postal-code{
	width: 99%;
	display: none;
	margin-left: -1% !important;
}
.floopDrawer .info-contact{
	display: inline-block;
	vertical-align: middle;
}
.floopDrawer .scope-city-contact{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 160px;
	display: inline-block;
	height: 15px;
 } 
.floopDrawer .scope-name-contact{
	display: inline-block;
    vertical-align: middle;
    text-align: left;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}
.floopDrawer .thumb-send-to {
    width: 35px;
    height: 35px;
    background-color: #DADADA;
    border-radius: 4px;
    margin:5px;
}
.floopDrawer .text-light{
	font-weight:500;
	color:rgba(0, 0, 0, 0.3) !important;
}
.floopDrawer #menu-type h4 {
    background-color: rgba(35, 83, 96, 0.15);
	color: #2D6569;
	width: 100%;
	float: left;
	padding: 10px 10px 10px 20px;
	margin: 0;
	margin-bottom: 10px;
}
.floopDrawer .btn_shortcut_add{
	margin-top: -3px;
	margin-right: 3px;
	color:white;
	border:0px;
}


.floopDrawer .bg-yellow, .floopDrawer .bg-green, 
.floopDrawer .bg-orange, .floopDrawer .bg-purple{
	padding-bottom:2px;
	padding-top:5px;
	border-bottom: 3px solid transparent;
	margin-top: -4px;
	margin-left: 3px;
}

.floopDrawer .bg-yellow:hover, .floopDrawer .bg-green:hover, 
.floopDrawer .bg-orange:hover, .floopDrawer .bg-purple:hover{
	border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.floopDrawer label.no-element{
	padding: 0px 10px;
	color: rgb(177, 177, 177);
}









