/*
	FILTERS
*/
.news_filter_box{
	float:left;
	border-width:1px;
	border-style:solid;
	border-color:#d3d1d5;
	padding:4px;
	margin-top:5px;
	
	background-color:white;
}
.lbl_filter_box{
	float:left;
	padding:4px;
	font-size:14px;
	margin-top:5px;
	
}

.img_illu_publication_nature{
	padding:8px;
}
.img_illu_publication_theme{
	margin-top:-4px;
	padding:3px;
}

.lbl_question_option{
	float:left; 
	color:rgba(115, 95, 135, 1); 
	font-size:25px; 
	margin-top:20px; 
	font-family:'OpenSansLight';
	width:70%;
}

#keyword_filter{
	font-family: "OpenSans";
	font-size: 14px;
	border-width:1px;
	border-color:#d3d1d5;
	border-style:solid;
	border-radius:4px;
	width:85%;
	padding-left:4px;
	padding-right:4px;
	height:30px;
	margin-top:8px;
}

.radio_filter{
	float:left;
	margin-top:0px;
}
.lbl_radio_filter{
	float:left;
	font-size:15px; 
	font-family:'OpenSansLight';
	margin-top:-5px;
	margin-right:20px;
}

/*
	NEWS
*/
.fil_actu_title{
	width:85%;
	margin-bottom:2px;
	margin-top:50px;
	padding:5px;
	padding-left:15px;
	padding-bottom:15px;
	padding-top:15px;
	color:#47444a;
	font-family:'OpenSansLight';
	font-size:30px;
	background-color:white;
	border-radius:10px 10px 0px 0px;
	-moz-box-shadow: 0px -4px 3px 0px #c0c0c0;
	-webkit-box-shadow: 0px -4px 3px 0px #c0c0c0;
	-o-box-shadow: 0px -4px 3px 0px #c0c0c0;
	box-shadow: 0px -4px 3px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=180, Strength=3);
}


.news_post_list{
	float:left; 
	width:70%; 
	margin-top:30px; 
	margin-left:14%;
	margin-right:14%;
}

.post{
	float:left;
	width:100%;
	background-color:white;
	margin-bottom:30px;
	padding:2%;
	-moz-box-shadow: 0px 4px 3px 0px #c0c0c0;
	-webkit-box-shadow: 0px 4px 3px 0px #c0c0c0;
	-o-box-shadow: 0px 4px 3px 0px #c0c0c0;
	box-shadow: 0px 4px 3px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=180, Strength=3);
}
.info_author_post{
	width:100%;
	float:left;
	min-height:50px;
	margin-bottom:5px;
	
}
.header_post{
	float:left;
	max-width:98%;
	min-width:98%;
	min-height:75px;
	background-color:#f0f0f0;
	color:white;
	background-image:url('spirale_network.png');
	margin-top:10px;
	padding-top:0x;
	border-radius:5px 5px 0px 0px ;
	-moz-box-shadow: 0px -2px 2px 0px #c0c0c0;
	-webkit-box-shadow: 0px -2px 2px 0px #c0c0c0;
	-o-box-shadow: 0px -2px 2px 0px #c0c0c0;
	box-shadow: 0px -2px 2px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=90, Strength=2);
}
.header_post.white	{ background-color:#f0f0f0 !important; color:black !important;}
.header_post.red	{ background-color:#E66B6B !important; }
.header_post.yellow	{ background-color:#FFB848 !important; color:black !important;}
.header_post.purple	{ background-color:#805F79 !important; }
.header_post.orange	{ background-color:#F58A5C !important; }
.header_post.green	{ background-color:#1FBBA6 !important; }

.spiral{
	background-image:url('spirale_network.png');
		
}
.header_new_post{
		background-image:url('spirale_network.png');
		-moz-box-shadow: 0px -2px 4px 0px #656565;
		-webkit-box-shadow: 0px -2px 4px 0px #656565;
		-o-box-shadow: 0px -2px 4px 0px #656565;
		box-shadow: 0px -2px 4px 0px #656565;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=4);
	}
	.header_new_post.white	{ background-color:#f0f0f0 !important; color:black !important;}
	.header_new_post.red	{ background-color:#E66B6B !important; color:black !important;}
	.header_new_post.yellow	{ background-color:#FFB848 !important; color:black !important;}
	.header_new_post.purple	{ background-color:#805F79 !important; color:white !important;}
	.header_new_post.orange	{ background-color:#F58A5C !important; color:black !important;}
	.header_new_post.green	{ background-color:#1FBBA6 !important; color:black !important;}



.img_profil_round{
	border-radius:50px;
}
.ilya{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	margin-top:5px;
	font-size:13px; 
	font-family:'Open Sans';
	
}
.illustration_post{
	max-width:96%;
	width:96%;
	margin-top:0px;
	margin-left:2%px;
	border-radius: 8px 8px 0px 0px;
	-moz-box-shadow: 0px -2px 2px 0px #656565;
	-webkit-box-shadow: 0px -2px 2px 0px #656565;
	-o-box-shadow: 0px -2px 2px 0px #656565;
	box-shadow: 0px -2px 2px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=3);
}
.nature_post{
	float:left;
	margin-top:-30px;
	margin-left:5px;
	background-color:white;
	border-radius:45px;
	padding:5px;
	border-width:0px;
	border-left-style:solid;
	border-left-width:0px;
	border-left-color:LightGray;
	
}
.btn_circle_post{
	float:left;
	margin-top:-19px;
	margin-left:4px;
	background-color:white;
	border-radius:20px;
	padding:4px 9px;
	font-size:20px; 
	border-width:0px;
	border-left-style:solid;
	border-left-width:0px;
	border-left-color:LightGray;
	
}
a.btn_circle_post:hover{
	background-color:LightGray;
	
}
.list_themes_post{
	float:right;
	margin-top:-13px;
	margin-right:3%;
}
.theme_post{
	float:left;
	margin-top:-8px;
	margin-left:0px;
	background-color:white;
	border-radius:45px;
	padding:4px;
	border-width:0px;
	border-left-style:solid;
	border-left-width:0px;
	border-left-color:LightGray;
}
.pseudo_author_post{
	float:left;
	font-family:"Raleway",sans-serif;
	color:black  ;
	font-size:17px;
	margin-top:17px;
	margin-bottom:10px;
	margin-right:7px;
	margin-left:4px;
	max-width:65%;
}
.ico_type_account_author_post{
	float:left;
	margin:4px;
	margin-top:12px;
	
}
.pic_profil_author_post{
	float:left;
}

.city_author_post{
	float:left;
	font-family:"Raleway",sans-serif;
	color:black  ;
	font-size:14px;
	margin-top:20px;
	color:grey;
}

.title_post{
	float:left;
	width:96%;
	margin-left:2%;
	font-family:"Raleway",sans-serif;
	color:#63556d  ;
	font-size:20px;
	margin-bottom:5px;
	margin-top:0px;
	
}

.content_post{
	float:left;
	color:black;
	font-family:"Raleway",sans-serif;
	font-size:15px;
	width:96%;
	margin-left:2%;
	margin-bottom:10px;
}

.bar_tools_post{
	float:left;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:LightGray;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:LightGray ;
	width:100%;
	margin-top:6px;
	margin-bottom:6px;
	padding-top:3px;
	padding-bottom:3px;
	list-style: none outside none;
	font-size:12px;
}
.bar_tools_post ul{
	float:right;
	padding:0px;
	margin:0px;
	margin-right:4px;
	line-height: 20px;
}
.bar_tools_post li{
	margin-left:5px;
	display: inline;
	font-family:"Raleway",sans-serif;
}
.bar_tools_post a{
	text-decoration:none;
	color:#725f8d;
}
.bar_tools_post a:hover{
	text-decoration:underline;
	color:grey;
}
.bar_tools_post li:after{
	content: "•";
	padding-left:6px;
}
.bar_tools_post li:last-child:after{
	content: "";
}
a.btn_tool_post{
	margin:0px;
}
ico_info_post{
	
}


/*
	COMMENTAIRES
*/

.list_commentaires{
	float:left;
	width:100%;
}
.commentaire{
	float:left;
	padding:5px;
	width:95%;
	background-color:white;
	margin-bottom:5px;
}

.ico_type_account_author_commentaire{
	float:left;
	margin:3px;
	margin-top:5px;
	
}
.pic_profil_author_commentaire{
	float:left;
	
}
.city_author_commentaire{
	font-family:'OpenSans';
	color:black  ;
	font-size:12px;
	color:grey;
}
.content_commentaire{
	float:left;
	max-width:87%;
	color:black;
	font-family:'OpenSans';
	font-size:14px;
	margin-top:7px;
}
.pseudo_author_commentaire{
	float:left;
	font-family:'OpenSansB';
	color:black ;
	font-size:13px;
	margin-top:0px;
	margin-right:2px;
}
.btn_like_commentaire{
	color:#725F8D ;
	font-size:13px;
	
}
.txt_write_commentaire{
	width:75%;
	min-width:75%;
	max-width:75%;
	padding-left:1%;
	padding-right:1%;
	padding-top:4px;
	padding-bottom:4px;
	height:30px;
	min-height:30px;
	max-height:200px;
	background-color:white;
	font-family: "OpenSans";
	font-size: 14px;
	border-width:1px;
	border-color:#d3d1d5;
	border-style:solid;
	color:black;
	float:left;
	margin-left:4px;
	overflow-y:hidden;
}
.btn_send_commentaire{
	float:left;
	font-family: "OpenSans";
	font-size: 13px;
	height:22px;
	color:#725f8d;
	margin-left:5px;
	margin-top:2px;
	padding-top:5px;
	padding-top:4px;
	padding-left:8px;
	padding-right:8px;
	border-width:1px;
	border-left-width:1px;
	border-color:#d3d1d5;
	border-style:solid;
	
}
.btn_send_commentaire:hover{
	color:grey;
	
}