html, body {
  min-height: 100%;
  height: 100%;
}


.container{
  /*width:99%;*/
  /*background-color: white;*/
}

.simply-button{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #666;
    background-color: #ccc;
    border: 0px solid #666;
}

.navbar{
  background-color: #CCC;
}

.panel-filter{
  border-right:2px solid grey;
}

.btn-add-to-directory{
  font-size: 14px;
  margin-right: 0px;
  border-radius: 6px;
  color: #666;
  border: 1px solid rgba(188, 185, 185, 0.69);
  margin-left: 3px;
  float: right;
  padding: 1px;
  width: 24px;
  margin-top: 4px;
}

.btn-filter-type{
  height:44px;
}

.btn-scope{
  display: inline;
}

.simply-nav{
  border:0px;
  padding-right: 0px;
  padding-left: 0px;
}

.searchEntity hr{
  margin:3px; 
}

fieldset{
  width: 99%;
  border: 10px solid white;
}

#mapCanvasBg {
    visibility: visible !important;
    /*z-index: -1;*/
}
#main-title{
	margin-top:10px;
}
.my-main-container{
	background-color: rgba(240, 240, 240, 0.93) !important;
	margin-left: 0px !important;
	padding-left: 1px;
}
/*.container-lbl-info-search{
	position: absolute;
	width: 290px;
	top: -25px;
	background-color: rgba(58, 89, 111, 0.79); /*rgba(76, 98, 117, 0.74);
	border-radius: 50%;
	height: 290px;
	left: 235px;
	display: none;
	-moz-box-shadow: 0px 0px 5px 5px rgba(41, 41, 41, 0.56);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(41, 41, 41, 0.56);
    -o-box-shadow: 0px 0px 5px 5px rgba(41, 41, 41, 0.56);
    box-shadow: 0px 0px 5px 5px rgba(41, 41, 41, 0.56);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}
.container-lbl-info-search .lbl-info-search{
	height: 20px;
	position: absolute;
	width: 100%;
	color: #FFF;
	font-weight: 700;
	font-size: 12px;
	margin-left: 133px;
	margin-top: 65px;
	z-index: 10;
}
.container-lbl-info-search .lbl-info-search span{
	padding:3px 7px;
	background-color: transparent;
	
}*/

.main-top-menu{
	height: 50px;
	background-color: #FFF;
	position: fixed !important;
	opacity: 0;
	z-index: 10;
	top: -60px;
	/*width: 73% !important;*/
	margin-left: -15px;
	moz-box-shadow: 0px 2px 4px -3px #656565;
	-webkit-box-shadow: 0px 2px 4px -3px #656565;
	-o-box-shadow: 0px 2px 4px -3px #656565;
	box-shadow: 0px 2px 4px -3px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
}



.main-top-menu .moduleLabel{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 50%;
	margin-left:0px !important;
}

input[type="text"].input-search{
	margin-top: 74px;
	margin-left: 15%;
	width: 70%;
	border-radius: 50px !important;
	height: 75px;
	font-size: 20px !important;
	padding: 10px !important;
	text-align: center;
	font-weight: 300;
	border-color: #C5C5C5 !important;
	-moz-box-shadow: 0px 0px 5px -2px #656565 !important;
	-webkit-box-shadow: 0px 0px 5px -2px #656565 !important;
	-o-box-shadow: 0px 0px 5px -2px #656565 !important;
	box-shadow: 0px 0px 5px -2px #656565 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5) !important;
}
/*input[type="text"].input-search{
	margin-top: 100px;
	margin-left: 16%;
	padding-right:10px;
	width: 70%;
	border-radius: 50px !important;
	height: 70px;
	font-size: 20px !important;
	padding: 10px !important;
	text-align: center;
	font-weight: 300;
	border-color: #C5C5C5 !important;

	-moz-box-shadow: 0px 0px 5px -2px #656565 !important;
	-webkit-box-shadow: 0px 0px 5px -2px #656565 !important;
	-o-box-shadow: 0px 0px 5px -2px #656565 !important;
	box-shadow: 0px 0px 5px -2px #656565 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5) !important;
}*/
input[type="text"].input-search:focus{
	/*border-color: #3C5665 !important;*/
	-moz-box-shadow: 0px 0px 5px 2px #3C5665 !important;
	-webkit-box-shadow: 0px 0px 5px 2px #3C5665 !important;
	-o-box-shadow: 0px 0px 5px 2px #3C5665 !important;
	box-shadow: 0px 0px 5px 2px #3C5665 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5) !important;
}
input[type="text"].input-search.postalCode{
	margin-top: 8px;
	margin-left: 24%;
	width: 52%;
	height: 35px;
	font-size: 20px !important;
	padding: 0px !important;
	font-family: "homestead";
	
}
/*input[type="text"].input-search.postalCode{
	margin-top: 10px;
	margin-left: 34%;
	width: 36%;
	height: 35px;
	font-size: 16px !important;
	padding: 0px !important;
	
}*/
/*input[type="text"].input-search.postalCode:focus{
	-moz-box-shadow: 0px 0px 5px 0px #CC3939 !important;
	-webkit-box-shadow: 0px 0px 5px 0px #CC3939 !important;
	-o-box-shadow: 0px 0px 5px 0px #CC3939 !important;
	box-shadow: 0px 0px 5px 0px #CC3939 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#CC3939, Direction=NaN, Strength=5) !important;
}

button.btn-start-search{
	position: relative;
	margin-bottom: 5px;
	top: 63px;
	right: 4%;
	background-color: #7ACF5B;
	color: white;
	border-color: rgba(180, 180, 180, 0.77) !important;
	border-radius: 30px;
	font-weight: 300;
	font-size: 18px;
	padding: 10px;
	width: 50px;
	height: 50px;
	-moz-box-shadow: 0px 0px 5px -2px #656565 !important;
	-webkit-box-shadow: 0px 0px 5px -2px #656565 !important;
	-o-box-shadow: 0px 0px 5px -2px #656565 !important;
	box-shadow: 0px 0px 5px -2px #656565 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5) !important;
}

button.btn-start-search:hover{
	background-color: white !important;
	color:#68AE4E !important;
}

/* * * * * * * * * * * BIG BUTTONS MENU CUSTOM * * * * * * * * */
button.menu-button{
	position: fixed;
	height: 40px;
	min-width: 40px;
	border-radius: 30px;
	border: none;
	z-index: 2;
}
button.menu-button-title.large{
	padding-left:10px;
	padding-right:10px;
}
button.menu-button-title.bg-azure.large:hover{
	box-shadow: 0px 0px 5px 5px rgba(91, 160, 171, 0.8) !important;
}
button.menu-button-title.bg-dark.large:hover{
	box-shadow: 0px 0px 5px 5px rgba(33, 41, 45, 0.8) !important;
}
button.menu-button-title.bg-red.large:hover{
	box-shadow: 0px 0px 5px 5px rgba(227, 53, 81, 0.8) !important;
}
button.menu-button-title.btn-menu-add:hover{
	box-shadow: 0px 0px 5px 5px rgba(122, 207, 91, 0.8) !important;
}

button.btn-login, button.btn-logout{
	left: 83px;
	top: 12px;
	background-color: #E33551;
	color: #FFF;
	font-size: 17px;
	-moz-box-shadow: 0px 0px 5px 0px #CC3939 !important;
	-webkit-box-shadow: 0px 0px 5px 0px #CC3939 !important;
	-o-box-shadow: 0px 0px 5px 0px #CC3939 !important;
	box-shadow: 0px 0px 5px 0px #CC3939 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#CC3939, Direction=NaN, Strength=5) !important;
}

button.btn-menu{
	color: #FFF;
	font-size: 19px;
	-moz-box-shadow: 0px 0px 5px 0px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 0px 0px 5px 0px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 0px 0px 5px 0px rgba(66, 66, 66, 0.79) !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;
}
button.btn-menu.selected{
	background-color: #C62B2B !important;
	color: #FFF;
	font-size: 17px;
	-moz-box-shadow: 0px 0px 5px 0px #C62B2B !important;
	-webkit-box-shadow: 0px 0px 5px 0px #C62B2B !important;
	-o-box-shadow: 0px 0px 5px 0px #C62B2B !important;
	box-shadow: 0px 0px 5px 0px #C62B2B !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;
}

button.btn-menu0{
	left: 14px;
	top: 16px;
	font-size: 25px;
	width: 50px;
	height: 50px;
	padding: 6px;
}
button.btn-menu1{
	left: 110px;
	top: 50px;
	background-color: #7ACF5B !important;
	
}

button.btn-menu2{
	left: 82px;
	top: 124px;
}
button.btn-menu3{
	left: 45px;
	top: 184px;
}
button.btn-menu4{
	left: 84px;
	top: 245px;
	font-size: 19px;
	padding-left: 8px;
	padding-top: 0px;
}

button.btn-menu5{
	right: 27px;
	top: 70px;
	background-color: #32454E !important;
	font-size: 21px;
	min-width: 42px;
	height: 43px;
	padding-left: 4px;
	z-index:0 !important;
}

button.btn-menu6{
	left: 12px;
	top: 302px;
	background-color: #32454E !important;
	font-size: 17px;
	height: 38px;
}
button.btn-menu7{
	left: 113px;
	top: 365px;
	background-color: #32454E !important;
	font-size: 18px;
	height: 37px;
}
button.btn-menu-add{
	right: 35px;
	bottom: 35px;
	background-color: #7ACF5B !important;
	font-size: 18px;
	height: 37px;
}
button.btn-menu-notif{
	background-color: rgba(163, 116, 188, 0) !important;
	font-size: 20px;
	border: 0px solid #d13434;
	box-shadow: 0px 0px !important;
	float: right;
	position: relative;
	border-radius: 0px;
	margin-right: 6px;
}
.main-top-menu  button.btn-menu-notif{
	z-index: 20;
}
.main-top-menu  button.btn-menu-global-search{
	font-size: 16px;
	height: 33px;
	min-width: 30px;
	width: auto !important;
	position: relative;
	/*margin-top: 4px;*/
	box-shadow: 0px 0px !important;
	border: 0px;
	border-radius: 0px;
	height:40px;
}
.main-top-menu  button.btn-menu-global-search:hover{
	background-color: white;
	color:#2BB0C6 !important;
}

button#btn-toogle-map{
	right: 0px;
	font-size: 24px;
	width: 45px;
	height: 51px;
	padding: 5px;
	top: 0px;
	position: absolute !important;
	border-radius: 0px 0px 10px 0px;
	z-index: 15;
	box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
}

button.main-btn-toogle-map{
	font-size: 24px;
    width: 45px;
    height: 45px;
    padding: 5px;
    top: 4px;
    position: absolute !important;
    z-index: 1;
    box-shadow: 0px 0px !important;
    right: 10px;
}

#logo-main-menu{
	float:left;
	font-size: 24px;
	width: 45px;
	height: 50px;
	padding: 5px;
	top: 0px;
	z-index: 15;
	box-shadow: -3px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
	margin-left: -40px;
	border-radius: 0px 0px 0px 10px !important;
	background-color: rgb(255, 255, 255);
	display: inline;
	margin-right: 10px;
	box-shadow: -3px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: -3px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: -3px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
	box-shadow: -3px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
}
button.btn-activate-communexion{
	font-size: 18px;
	position: absolute;
	top: 18px;
	left: 45.5%;
	-moz-box-shadow: 0px 0px 5px 0px #14424A !important;
	-webkit-box-shadow: 0px 0px 5px 0px #14424A !important;
	-o-box-shadow: 0px 0px 5px 0px #14424A !important;
	box-shadow: 0px 0px 5px 0px #14424A !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;
}
button.btn-infos{
	font-size: 17px;
	position: absolute;
	top: 147px;
	left: 10%;
	-moz-box-shadow: 0px 0px 5px 0px #14424A !important;
	-webkit-box-shadow: 0px 0px 5px 0px #14424A !important;
	-o-box-shadow: 0px 0px 5px 0px #14424A !important;
	box-shadow: 0px 0px 5px 0px #14424A !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;
}*/

/* * * * * * * * * * * BIG BUTTONS MENU CUSTOM * * * * * * * * */

.label-communect{
	position:relative;
	font-weight:300;
}

.label-communect.lbl-communect1{
	top:30px;
	left:30px;
	top: 53px;
	left: 22px;
}
.label-communect.lbl-communect2{
	position:relative;
}

/* * * * * * * * * * * MINI LABEL CUSTOM * * * * * * * * */



.main-col-search{
	padding-top: 60px;
	padding-bottom: 100px;
	min-height: 100%;
	background-color: white !important;
	-moz-box-shadow: 0px 5px 5px -2px #656565 !important;
	-webkit-box-shadow: 0px 5px 5px -2px #656565 !important;
	-o-box-shadow: 0px 5px 5px -2px #656565 !important;
	box-shadow: 0px -5px 5px -2px #656565 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5) !important;
}

.main-col-search .loader{
	width:100%;
	text-align: center;
	font-size:18px;
	margin-top:100px;
}
.main-col-search .loader i.fa-circle-o-notch{
	font-size:30px;
}
.main-col-search .loader img{
	max-width: 35%;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 38px 2px rgba(101, 101, 101, 0.73);
	-webkit-box-shadow: 0px 0px 38px 2px rgba(101, 101, 101, 0.73);
	-o-box-shadow: 0px 0px 38px 2px rgba(101, 101, 101, 0.73);
	box-shadow: 0px 0px 38px 2px rgba(101, 101, 101, 0.73);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}

#dropdown_searchTop{
	padding-left: 0px;
	margin-left: 0px;
	margin-top:20px; 
	float:left;
	width:100%;
}
#dropdown_searchTop .li-dropdown-scope ol{
	width:50%;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.3;
	margin-top: -10px;
}
#dropdown_searchTop .li-dropdown-scope ol .light{
	font-size: 14px;
	font-weight: 300;
}

#dropdown_searchTop .li-dropdown-scope ol:hover{
	background-color: transparent !important;
	color:inherit !important;
}

.li-dropdown-scope.li-center{
	width:30%;
	margin-left:auto;
	margin-right: auto;
}

.li-dropdown-scope{
	width:100%;
	text-align: right;
	margin-left:auto;
	margin-right: auto;
	margin-top:6px;
	display: inline-block;
}
#dropdown_searchTop .li-dropdown-scope ol i.fa, #dropdown_searchTop .li-dropdown-scope ol img.img-circle{
	margin-left:10px !important;
	margin-right: -55px;
	float: right;
	margin-top: -50px;
}
#dropdown_searchTop .li-dropdown-scope ol .tags, #dropdown_searchTop .li-dropdown-scope ol .tags:hover{
	color:red !important;
	font-size:13px;
}
.tags {
  display: inline;
  background: #E9E9E9;
  color: white !important;
  transition: all .25s linear;
  white-space: nowrap;
  line-height: 21px; 
  padding-bottom:5px;
	}
  .tags:before {
    content: "";
    border-style: solid;
    border-color: transparent #E9E9E9 transparent transparent;
    border-width: 12px 13px 12px 0;
    position: absolute;
    left: -13px;
    top: 0;
    transition: all .25s linear; }
  .tags:hover {
    background-color: #E9E9E9;
    color: red; }
  .tags:hover:before {
    border-color: transparent #E9E9E9 transparent transparent; }
  .tags:after {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    content: "";
    height: 5px;
    left: -1px;
    position: absolute;
    top: 10px;
    width: 5px; }

    .elipsis{
    	text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 98%;
		height: 40px;
    }

    #shortDetailsEntity{
    	position: absolute;
		right: 15px;
		top: 480px;
		/*min-height: 100px;*/
		border: 1px solid #E1E1E1;
		border-radius: 4px;    
		display: none;
	}

	.fa.loader_short_details{
		margin:10px;
	}

	.link-start-search.badge{
		padding:4px;
	}

	.corner-fa{
      left: -10px;
      font-size: 30px;
      position: absolute;
      color: #BABABA;
      top: 5px;
    }

  .lbl-scope-list{
    position: absolute;
    left: 52%;
    z-index: 1;
    top: 145px;
    font-size: 25px;
    font-weight: 300;
    text-transform: capitalize;
  }


.dropdown.dropdown-scope .btn-scope-list{
	/*border-radius: 30px;*/
	text-transform: uppercase;
	font-size:20px;
	padding-left: 10px;
	text-align: center;
	line-height: 0.7;
	padding-top: 10px;
	padding-bottom: 8px;
}

.dropdown.dropdown-scope .btn-scope-list:hover{
	background-color: #f2e1e1 !important;
}
.dropdown.dropdown-scope{
	position: absolute;
	top: 146px;
	left: 24%;
	border-radius: 30px;

}
.dropdown.dropdown-scope button.dropdown-toggle{
	border-radius: 30px;
	height: 37px;
	width: 37px;
	background-color: white;
}
.dropdown.dropdown-scope .dropdown-menu{
	margin-left: -2px;
	margin-top: -1px;
	border-radius: 9px;
	width: 314px;
}

@media screen and (max-width: 1024px) {
	.img-logo{
		width: 400px;
		max-width: 400px;
		min-width: 400px;
		height: 170px;
		/*top: 150px;*/
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	input[type="text"].input-search{
		margin-top: 55px;
		margin-left: 14%;
		width: 70%;
		border-radius: 50px !important;
		height: 46px;
		font-size: 17px !important;
		padding: 10px !important;
		text-align: center;
		font-weight: 300;
		border-color: #C5C5C5 !important;
	}

	input[type="text"].input-search.postalCode{
		margin-top: 3px;
		margin-left: 21%;
		width: 49%;
		height: 30px;
		font-size: 18px !important;
		padding: 3px 11px 0px 40px !important;
	}


	button.btn-start-search {
	    margin-top: -60px;
		margin-left: 46%;
		color: white;
		border-radius: 30px;
		font-weight: 300;
		font-size: 19px;
		margin-bottom: 20px;
		height: 45px;
		width: 45px;
		padding: 0px;
	}

	#dropdown_searchTop .li-dropdown-scope ol{
		width:50%;
		font-size: 17px;
		font-weight: 400;
	}
	#dropdown_searchTop .li-dropdown-scope ol .light{
		font-size: 14px;
		font-weight: 300;
	}

	button.btn-activate-communexion {
	    font-size: 15px;
	    position: absolute;
	    top: 11px;
	    left: 44.5%;
	    height: 33px;
		min-width: 33px;
   	}
   	.lbl-scope-list {
	    left: 53%;
	    font-size: 20px;
   	}
	

	button.btn-geolocate{
		top: 30px;
		left: 0px;
	}
	button.btn-infos{
		font-size: 15px;
	    height: 33px;
		min-width: 33px;
		top: 25px;
		left: -2%;
	}
	.btn-filter-type {
	    height: 35px !important;
	}
	.dropdown.dropdown-scope {
	    position: absolute;
	    top: 102px;
	    left: 20%;
	    border-radius: 30px;
	}
	.main-top-menu .moduleLabel{
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    max-width: 37%;
	    max-height: 36px;
	    font-size: 18px !important;
	    height: 36px;
	    padding-top: 5px;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	    font-weight: 200;
	  }
	  #dropdown_search{
	  	margin-top:20px;
	  }
}



@media screen and (max-width: 767px) {
	.searchEntity .entityMiddle{
		text-align: center !important;
	}
	.searchEntity .entityTop{
		max-width:100% !important;
	}

	.main-top-menu .moduleLabel{
		font-size: 15px !important;
		max-width: 75%;
	}

	.main-top-menu{
		margin-left:0px !important;
	}

	button#btn-toogle-map{
		right:0px !important;
		border-radius: 0px !important;
	}
	.searchEntity .entityBottom{
		text-align: center !important;
	}
	#dropdown_search .searchEntity .entityMiddle{
		text-align: center !important;
	}
	#dropdown_search .searchEntity .entityTop{
		max-width:100% !important;
	}


	#main-title-communect{
		font-size:35px !important;
	}

	.img-logo {
	    width: 290px;
		max-width: 290px;
		min-width: 290px;
		height: 170px;
		top: 6px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	button.btn-activate-communexion {
	    font-size: 12px;
	    position: absolute;
	    top: 15px;
	    left: -2.5%;
	    height: 28px;
	    min-width: 28px;
	}

	.lbl-scope-list {
	    left: 13%;
	    font-size: 14px;
	    top: 130px !important;
	}

	input.input-search {
	    margin-top: 30px !important;
	    margin-left: 8% !important;
	    width: 81% !important;
	}

	.blockMsg {
	    width: 80% !important;
		top: 2% !important;
		left: 10% !important;
	}
	
}


@media screen and (max-width: 1024px) {
	div.timeline .newsTL > .newsFeed{
		width:100% !important;
	}
	.main-top-menu .input-global-search{
		width:200px !important;
	}
}

.searchEntity{
	/*margin-bottom:10px;*/
	padding:7px;
	min-height: 60px !important;
	float: left;
	width: 100%;
	border:1px solid gray;
	border-radius: 5px;
}



/*.searchEntity .entityBottom{
	padding: 5px;
	margin-right: 0%;
	padding-right: 0px;
}
.searchEntity .entityBottom .badge{
	margin:2px;
	margin-top:8px;
}*/

.image{
    width:100%;
    height:auto;
}

.searchEntity{
	border:1px solid white;
}

.searchEntity .entityTop{
	text-align: left;
/*	padding-top: 10px !important;
	margin-left: -1%;*/
	min-height: 80px;
	padding-left: 2px;
}

.searchEntity .entityMiddle{
	text-align: left;
	padding-top: 10px !important;
	margin-left: -1%;
	min-height: 30px;
	padding-left: 10px;

}

.searchEntity .entityBottom{
	text-align: left;
	padding-top: 10px !important;
	margin-left: -1%;
	min-height: 40px;
	padding-left: 10px;
	max-width:100%;
}


/*.searchEntity .entityTop i.fa, 
.searchEntity .entityTop img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 15px;
	padding: 10px 10px;
}
.searchEntity .entityTop img{
	padding: 3px;
}*/


.searchEntity .entityTop i.fa.fa-calendar{
	font-size: 14px;
	padding: 8px 0px 0px 7px;
	margin-left: 10px;
}
.searchEntity .entityTop i.fa.fa-user{
	font-size: 14px;
	padding: 8px 0px 0px 7px;
	margin-left: 10px;
}
.searchEntity .entityTop i.fa.fa-users{
	font-size: 14px;
	padding: 8px 0px 0px 7px;
	margin-left: 10px;
}
.searchEntity .entityTop i.fa.fa-university{
	font-size: 14px;
	padding: 8px 0px 0px 7px;
	margin-left: 10px;
}
.searchEntity .entityTop i.fa.fa-lightbulb-o{
	font-size: 14px;
	padding: 8px 0px 0px 7px;
	margin-left: 10px;
}

/*.searchEntity .entityMiddle{
	text-align: left;
	padding-top: 10px !important;
	margin-left: -1%;
	min-height: 50px;
}

.searchEntity .entityMiddle .entityName{
	font-size:16px;
	font-weight: 300;
	width:100%;
	display: block;
	min-height: 75px;
	vertical-align: middle;
	padding: 2px;
    text-align: center;
}
.searchEntity .entityMiddle .entityLocality{
	font-size: 13px;
	line-height: 17px;
	font-weight: 600;
	width:100%;
	display: block;
	margin-bottom: 2px;
	min-height:33px;
}
.searchEntity .entityMiddle .entityDescription{
	font-size: 14px;
	line-height: 17px;
	width: 100%;
	display: block;
	font-weight: 300;
	max-height: 205px;
	overflow: hidden;
}

.searchEntity .entityMiddle .entityDate{
	font-size: 12px;
	line-height: 17px;
	margin-right:4px;
	display: inline-block;
	max-height: 205px;
	overflow: hidden;
	text-align: left;
	padding: 2px 9px;
	background-color: rgb(190, 223, 228) !important;
	color: rgb(45, 99, 125) !important;
	font-weight: 500;
}*/

.leaflet-top, .leaflet-bottom {
    z-index: 0 !important;
}



.main-logo-home{
  	/*background-image: url(../images/main-logo-home.png);
	background-position: center top;
	background-repeat: no-repeat;
	height: 470px;
	margin-top:50px;*/
}
#img-video-communecter{
	cursor: pointer;
}

#panel-first-step{
	
}

.modal{
    background-color: rgba(0, 0, 0, 0.55) !important;
    padding-top: 40px !important;
}
.modal-backdrop{
	display:none !important;
}





@media screen and (max-width: 767px) {
	button.menu-button.menu-button-left{
		left:5% !important;
		display:none !important;
	}
}











.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

/***** FILTER *****/
.Filters{
	background-color:white;
}

.checkbox{
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
}

.checkbox input[type="checkbox"]{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.checkbox label{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-left: 1.5em;
}

.checkbox label:before,
.checkbox label:after{
  content: '';
  display: block;
  position: absolute;
}

.checkbox label:before{
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #ddd;
  border-radius: 3px;
}

.checkbox label:after{
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: #68b8c4;
  opacity: 0;
  pointer-events: none;
}

.checkbox input:checked ~ label:after{
  opacity: 1;
}

.checkbox input:focus ~ label:before{
  background: #eee;
}


/**** FILTER SIMPLY ******/
.list-filter span{
	display: inline-block;
    margin: 0 0.25em 0.5em 0;
    padding: 0.2em 1em 0.25em;
    color: #fff;
    background-color: gray;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.list-filter a{
	display: inline-block;
    margin: 0 0.25em 0.5em 0;
    padding: 0.2em 1em 0.25em;
    color: #fff;
    background-color: darkgray;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.list-filter a:hover{
	color: #fff;
	background-color: #2497d0;
}

.list-filter a.active{
	color: #fff;
	background-color: #2497d0;
}

/** MIX **/
/*.mix{ 
	min-height: 100px;
	background-color: white;
	display: inline-block;
	border:1px solid #bbb;
	margin-right : 1.5%;
	border-radius: 10px;
	padding:1%;
	margin:-1px;
	-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.55);
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.55);
}

#grid .followers{
display: none;
}
.mix a{
	color:black;
}
.mix .imgDiv{
	float:left;
	width:30%;
	background: ;
	margin-top:0px;
}
.mix .detailDiv{
	float:right;
	width:70%;
	margin-top:0px;
	padding-left:10px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.mix .toolsDiv{
	float:right;
	width:20%;
	margin-top:0px;
	padding-left:10px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color:white;
}

.mix .text-xss{ font-size: 11px; }*/


#dropdown_search{
  padding: 2%;
  min-height: 400px;
  text-align: justify;
  position: relative;
  background-color: white;
}


#dropdown_params{
  min-height: 400px;
  background-color: white;
}


#dropdown_search .mix,
#dropdown_search .gap{
  display: inline-block;
}

#dropdown_search .mix{
  display: none;
}

#dropdown_search .mix.sm{
  width: 50px;
  height: 50px;
}


#moreTag{
	cursor: pointer;
}


li input{
   display: inline-block;
   float: right;
   margin-right: 10px;
}

.panel-title i{
	display: inline-block;
   	float: right;
}

.entityName, .breadcum{
	cursor: pointer;
}
