.btn-add-to-directory{
		font-size: 14px;
		margin-right: 0px;
		border-radius: 6px;
		color: #666;
		border: 1px solid rgba(188, 185, 185, 0.69);
		margin-left: 3px;
		float: left;
		padding: 1px;
		width: 24px;
		margin-top: 15px;
	}
  .img-logo {
    height: 290px;
  }
  .btn-filter-type{
    height:35px;
    border-bottom: 3px solid transparent;
  }
  .btn-filter-type.active{
    height:35px;
    border-bottom: 3px solid #383f4e;
  }
  .btn-filter-type:hover{
    height:35px;
    border-bottom: 3px solid #383f4e;
  }
  .btn-scope{
    display: inline;
  }
  .lbl-scope-list {
    top: 255px;
  }
  .btn-tag{
    font-weight:300;
    padding-left: 0px;
  }
  .btn-tag.bold{
    font-weight:600;
  }
  .container-result-search{
   /* moz-box-shadow: 0px 2px 4px -3px #656565;
    -webkit-box-shadow: 0px 2px 4px -3px #656565;
    -o-box-shadow: 0px 2px 4px -3px #656565;
    box-shadow: 0px -1px 4px -3px rgb(101, 101, 101);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);*/
    margin-top: 10px;
    right:0px;
    left:0px;

  }
  .search-loader{
    padding:20px !important;
    margin-left:0px;
    float:left;
  }

  #dropdown_search{
    /*margin-left:-15px !important;*/
   /* margin-left: -2% !important;
    width: 103%;*/
  }

  
  .searchEntity{
    padding: 10px 0 10px 0 !important;
    margin: 0px !important;
    border-top: solid rgba(128, 128, 128, 0.2) 1px;
    margin-left: 0% !important;
    width: 100%;
  }
  .searchEntity:hover{
    background-color: rgba(211, 211, 211, 0.2);
  }

  .row.headerDirectory{
    margin-top: -10px;
    moz-box-shadow: 0px 2px 4px -3px #656565;
    -webkit-box-shadow: 0px 2px 4px -3px #656565;
    -o-box-shadow: 0px 2px 4px -3px #656565;
    box-shadow: 0px 2px 4px -3px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
  }

  .lbl-res-vote{
    border-radius:15px;
    padding: 3px 8px;
  }


  @media screen and (max-width: 1024px) {
    #menu-directory-type .hidden-sm{
     display:none;
    }
  }

@media screen and (max-width: 767px) {
  .searchEntity{
        /*margin-left: 25px !important;*/
  }
  #searchBarText{
    font-size:13px !important;
    margin-right:-30px;
  }
  /*.btn-add-to-directory {
      position: absolute;
      right: 0px;
      z-index:9px !important;
  }*/
}