  
  ul li {list-style: none}
  .tpl_title{font-size: 28px !important;}
  .tpl_title2{font-size: 38px;}
  .panel-title {font-size:25px;}
  .points{padding-left:10px;}
  .tpl_shortDesc{font-size:17px; font-weight: 300; margin-left:20px;}

  /* CAROUSEL */
  .carousel-control{
    /*background-image: unset !important;*/
  }
  .carousel-control{
    color:#000;
  }
  #docCarousel{
  	float: left;
    box-shadow: 0px 0px 10px 0px rgb(95, 95, 95);
    padding: 0px 5%;
    margin-bottom:50px;
    margin-top:70px;
  }
  .carousel-indicators{
    top: -20px;
  }
  .carousel-indicators li {
    background-color: grey;
    padding: 15px;
    margin:4px;
    border-color: transparent !important;
    border-radius: 50%;
    
  }
  .carousel-indicators li.active {
    background-color: inherit;
    padding: 18px;
    margin: 0px;
    margin-bottom: 2px;
    
  }
  .btn-elements .btn{
  	width:50px;
  	height:50px;
  	border-radius: 50%;
  }
  .carousel-inner {
    padding-top: 30px;
}