.border-dark{
		border:1px solid #ccc;
	}
	.btn-filter-type{
		font-size:13px;
	}
	.timeline-scrubber{
		display:none;
	}


	#newsHistory .col-md-11{
		width:100% !important;
	}

	.border-dark {
	    border: 1px solid #ccc;
	    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
	}

	
	#newsFeedForm{
		display:none;
	}

	#menu-directory-type{
		margin-top:-5px;
		margin-left:10px;
	}
	.titleNowEvents{
		margin-top:30px;
	}
	
	#footerDropdown {
	    position: absolute;
	    width: 100%;
	    background-color: transparent;
	}


@media screen and (max-width: 1500px) {	
	.newsFeed{
		width:100% !important;
	}
	.timeline_element{
		margin-left:0px !important;
		margin-right:0px !important;
		max-width:100% !important;
		width:100% !important;	
	}
	.timeline_element::before {
		border:0!important;
	}
	.timeline_element .ico-type-account {
	    text-align: center;
	    height: 40px;
	    width: 40px;
	    font-size: 20px;
	    padding: 5px;
	    float: left;
	    margin-left: -25px;
	    border-radius: 3px 0px 0px 3px;
	    margin-top: 5px;
	    margin-right: 37px;
	}
}