.main-menu-left{
	position: fixed !important;
    top: 70px;
    z-index: 1;
}
.menu-button-left{
	font-size:15px;
	margin-bottom:5px;
	color:#3C5665;
	font-weight:300;
}
.menu-button-left:hover{
	/*color:#2BB0C6;*/
}


.menu-button-left.selected{
	/*color:#2BB0C6;*/
	font-weight: 600;
}
.main-menu-left hr{
	margin-top:5px;
	margin-bottom:5px;
	border-top: 1px solid transparent !important; /*rgba(72, 72, 72, 0.1) !important;*/
}

.moduleLabel{
	margin-left:0px !important;
}

.lbl-btn-menu-name, .lbl-btn-menu-name-add, .lbl-btn-menu-name-city{
    display: none;
	font-size: 15px !important;
	text-align: left;
	padding: 0px;
	border-radius: 26px;
	z-index: 0;
	width: 100px;
	font-weight: 300;
	/*font-family: "homestead";*/
}
.lbl-btn-menu-name-add, .lbl-btn-menu-name-city{
    display: inline;
}

.text-green-success{
	color:#7ACF5B;
}
.hover-menu{
	width: 17%;
	height: 400px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	overflow: visible;
	/*background-color: red;*/
}
.hover-menu.HM-right-side{
	left: unset;
	right: 0px;
	height: 0px;
}

.explain ul{
	list-style: none;
	font-size: 1.5em;
}


.drop-up-btn-add{
	display:none;
	position: fixed;
	bottom: 75px;
	right: 25px;
	height: 220px;
	background-color: transparent;
	width: 300px;
	z-index:10;
}
.drop-up-btn-add button{
	padding-right:6px;
}	
.btn-menu-add1{
	position:absolute !important;
	top:15px;
	right:15px;
}
.btn-menu-add2{
	position:absolute !important;
	top:65px;
	right:15px;
}
.btn-menu-add3{
	position:absolute !important;
	top:115px;
	right:15px;
}
.btn-menu-add4{
	position:absolute !important;
	top:165px;
	right:15px;
}
.hover-info,.hover-info2{
	display: none;
	margin-top: 130px;
	position: fixed !important;
	top: 0px;
	left: 0px;
	z-index: 12;
	overflow: visible;
	border: 0px solid #3C5665;
	border-radius:5px;
	background-color: white;
	-moz-box-shadow: 0px 0px 5px 0px #353535 !important;
	-webkit-box-shadow: 0px 0px 5px 0px #353535 !important;
	-o-box-shadow: 0px 0px 5px 0px #353535 !important;
	box-shadow: 0px 0px 5px 0px #353535 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;
}
.explain ul{
	list-style: none;
	font-size: 1.3em;
}
.infoVersion{
	display: none;
	position: fixed;
	bottom: 185px;
	left : 20px;
}


.homeShortcuts{position:absolute;top:420px;right:20px;}
.homeShortcuts ul{list-style: none; }
.homeShortcuts a{color: #9D9396;}
.homeShortcuts a:hover{	color: #00B8EB;}




#menu-bottom{
	position:fixed;
	bottom:0px;
	left:0px;
	height:40px;
	width:100%;
	background-color:white;
	z-index: 10;
	-moz-box-shadow: 0px -2px 5px -2px #353535 !important;
	-webkit-box-shadow: 0px -2px 5px -2px #353535 !important;
	-o-box-shadow: 0px -2px 5px -2px #353535 !important;
	box-shadow: 0px -2px 5px -2px #353535 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;
}

#menu-bottom .btn-menu-add {
	border-radius: 0px;
	right: 0px;
	bottom: 0px;
	height: 40px;
}



@media screen and (max-width: 767px) {
	#searchBarPostalCode{
		position: absolute;
		left: 40px !important;
		bottom: 39px !important;
		margin-top: 10px;
		width: 100% !important;
		margin-left: 0px;
		font-family: "homestead";
		font-size: 22px !important;
		border-radius: 0px !important;
		height: 45px;
		text-align: center;
		margin: 0px !important;
		padding-left: 15px !important;
	}

	#input-communexion {
	    width: 100%;
	}

	#input-communexion .search-loader {
	    position: relative;
		left: 41px !important;
		width: 100% !important;
		max-width: 100% !important;
		font-weight: 600;
		font-size: 12px;
		background-color: rgb(255, 255, 255);
		padding: 5px;
		border-radius: 0px 5px 0px 0px;
		text-align: left;
		bottom: 82px !important;
		height: 30px !important;
		max-height: 30px !important;
		-moz-box-shadow: 0px -2px 5px -2px #353535 !important;
		-webkit-box-shadow: 0px -2px 5px -2px #353535 !important;
		-o-box-shadow: 0px -2px 5px -2px #353535 !important;
		box-shadow: 0px -2px 5px -2px #353535 !important;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;
	}
	.btn-start-new-communexion {
	    bottom: 40px !important;
		left: unset !important;
		right: 0px !important;
		border-radius: 0% !important;
		width: 43px !important;
		padding: 11px 3px 3px 15px !important;
		box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.39) !important;
		height: 43px !important;
	}

	#menu-bottom .input-global-search{
	left: 0px;
    height: 40px;
    padding-left: 15px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    z-index: 1;
    border: 0px;
	}
	.main-top-menu .dropdown-result-global-search {
	    bottom: 40px;
		right: 5%;
		width: 90%;
		top: unset;
		border-radius: 10px 10px 0px 0px;
		-moz-box-shadow: 0px -9px 12px 3px rgba(66, 66, 66, 0.37) !important;
		-webkit-box-shadow: 0px -9px 12px 3px rgba(66, 66, 66, 0.37) !important;
		-o-box-shadow: 0px -9px 12px 3px rgba(66, 66, 66, 0.37) !important;
		box-shadow: 0px -9px 12px 3px rgba(66, 66, 66, 0.37) !important;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;		
	}

	.drop-up-btn-add {
	    bottom: 40px;
	    right: 0px;
	    background-color: rgba(255, 255, 255, 0.8);
	}

	
}

#iframe-kkbb {
    width: 400px;
    height: 400px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
}


ul{	font-weight: 300;	font-size:14px;	color:#3C5665 !important;}
h3{	font-weight: 300;}
.explainTitle{cursor:pointer; background-color: #656565; padding: 10px; text-align: center; color: #fff; margin:0px;border-top: 1px solid #666;}
.explainTitle:hover{opacity: 0.8}
.explainDesc{ padding: 10px; }
.caretExplain{position: relative;top: 0px;color:#656565;}
.fa-caret-down{font-size:56px;line-height: 10px;}



.globale-announce{
	position: fixed;
	bottom: 0px;
	background-color: rgb(255, 255, 255);
	z-index: 1;
	width: 400px;
	margin-left: 20%;
	padding-top: 10px !important;
	font-size: 16px;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
	-moz-box-shadow: 0px -2px 5px -2px #353535 !important;
	-webkit-box-shadow: 0px -2px 5px -2px #353535 !important;
	-o-box-shadow: 0px -2px 5px -2px #353535 !important;
	box-shadow: 0px -2px 5px -2px #353535 !important;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2BB0C6, Direction=NaN, Strength=5) !important;
}

#btn-close-globale-announce{
	width: 30px;
	height: 30px;
	border-radius: 20px;
	position: absolute;
	right: 5px;
	top: 4px;
	text-align: center;
	padding: 0px;
}

.main-menu-right{
	border-radius: 7px;
	padding-right: 40px;
}
.main-menu-right button.menu-button{
	font-size: 14px;
	height: 35px;
	min-width: 35px;
	background-color: #fff;
	font-family: unset;
	text-transform: capitalize;
	-moz-box-shadow: 0px 0px 5px 0px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 0px 0px 5px 0px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 0px 0px 5px 0px rgba(66, 66, 66, 0.79) !important;
}
.main-menu-right button.menu-button:hover{
	-moz-box-shadow: 0px 0px 5px 2px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 0px 0px 5px 2px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 0px 0px 5px 2px rgba(66, 66, 66, 0.79) !important;
}
.main-menu-right .lbl-btn-menu-name{
	font-size: 15px;
	font-weight: 300;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: none;
}


button.btn-menu5{
	right: 27px;
	top: 70px;
	/*background-color: #32454E !important;*/
	font-size: 21px;
	min-width: 42px;
	height: 43px;
	padding-left: 4px;
	z-index:0 !important;
}

button.btn-menu6{
	right: 27px;
	top: 140px;
	/*background-color: #32454E !important;*/
	font-size: 20px;
	min-width: 42px;
	height: 43px;
	padding-left: 6px;
	z-index: 0 !important;
}

button.btn-menu6 i{
	font-size:16px;
}

button.btn-menu7{
	right: 27px;
	top: 183px;
	/*background-color: #32454E !important;*/
	font-size: 20px;
	min-width: 42px;
	height: 43px;
	padding-left: 6px;
	z-index: 0 !important;
}

button.btn-menu8{
	right: 27px;
	top: 245px;
	/*background-color: #32454E !important;*/
	font-size: 20px;
	min-width: 42px;
	height: 43px;
	padding-left: 6px;
	padding-bottom: 4px;
	z-index: 0 !important;
}

button.btn-menu9{
	right: 27px;
	top: 305px;
	/*background-color: #32454E !important;*/
	font-size: 17px;
	height: 38px;
}

button.btn-menu10{
	right: 27px;
	top: 350px;
	/*background-color: #32454E !important;*/
	font-size: 18px;
	height: 37px;
}

#btn-launcher-menu{
	width:50px;
	height:50px;
}

#modal-launcher-menu .modal-dialog {
    width: 70%;
}
#modal-launcher-menu .modal-header{
	
}
#modal-launcher-menu .btn-item-launcher{
	font-size: 15px;
	font-family: homestead;
}
#modal-launcher-menu .btn-item-launcher i.fa{
	background-color: rgb(192, 218, 218);
    border-radius: 50px;
    padding: 7px;
}

.menuSmallBlockUI{
	z-index: 1011 !important;
	position: fixed !important;
	padding: 15px !important;
	margin: 0px !important;
	text-align: center !important;
	color: rgb(255, 255, 255) !important;
	border: medium none !important;
	border-radius: 0px !important;
	background-color: rgba(18, 18, 18, 0.88) !important;
	cursor: unset !important;
	top: 50px !important;
	bottom: 0px !important;
	width: 83.333333% !important;
	left: 16.66666667% !important;
	overflow-y: auto;
}
body.inSig .menuSmallBlockUI{
	width: 100% !important;
	left: 0% !important;
}
.menuSmallMenu .thumbnail{
	margin-bottom:0px !important;
}