svg{
	height:auto;
	width:auto;
}
	.mapCanvas{
	 	width:100%;
	 	/*background-color:#2A3945;*/
	 	color:black;
	 }

/*   ############# leaflet ################## */

  .leaflet-popup-content-wrapper{
 	background-color:#FFF;
 	border-radius:10px;
 	color:#2A3945;
 }

 .leaflet-popup-tip{
 	background-color:#FFF;
 }

 .leaflet-popup-content{
 	margin:5px 0px 0px -1px !important;
 	min-width:280px;
 	padding-bottom:0px;
 }
 .pod-local-actors{
 	padding: 10px;
 }
 .leaflet-popup-content .pod-local-actors h4{
 	text-align: center;
	padding-top: 10px;
	font-size: 25px;
 }
 .leaflet-popup-content .pod-local-actors h3{
 	text-align: center;
 }

 .leaflet-popup-content .pod-local-actors .panel-heading{
 	padding: 10px;
 	border: 0;
	min-height: 0px !important;
 }

 .leaflet-popup-content .pod-local-actors .panel{
 	box-shadow: none !important;
 }

 .leaflet-popup-content .pod-local-actors .list-group{
 	margin-bottom: -10px;
 }
 .marker-cluster{
 	z-index:480;
 }
/*   ############################### */


 #menu a.btn-success{
	border-color: #82b440;
}

 .popup-info-profil{
 	width:100%;
 	text-align:center;
 	font-size:16px;
 }
 .popup-info-profil-thumb-lbl{
 	float:left;
 	width:100%;
 	text-align:center;
 }
 .popup-info-profil-thumb{
 }
 .popup-info-profil-username{
 	width:100%;
 	text-transform:capitalize;
 	text-align:center;
 	font-size:25px;
 	color:yellow;
 }
.popup-info-profil-username a{
	color:yellow;
}
.popup-info-profil-username a.meeting, .popup-info-profil-username a.event{
	color:#F03737;
}
.popup-info-profil-username a.organization, .popup-info-profil-username a.NGO{
	color:#60CF27;
}
 .popup-info-profil-usertype{
 	width:100%;
 	text-align:center;
 	text-weight:bold;
 	text-transform:capitalize;
 	font-size:18px;
 }
 .popup-info-profil-work{
 	width:100%;
 	text-align:center;
 	font-size:16px;
 	text-transform:capitalize;
 }
 a.popup-info-profil-url{
 	float:left;
 	margin-top:10px !important;
 	width:100% !important;
 	text-align:center !important;
 	font-size:13px !important;
 	color:#2aa0bd !important;
 }

 /*
creer des conflits : regle pas assez specfique
=======
 .popup-result-find-place{
 	font-size:16px;
 }
 .modal-lg {
    width: 90%;
  }
 .modal-dialog {
 	height: 90%;
 }
  .modal-content{
 	height: 100%;
 }
 .modal-body{
 	height: 95%;
 }*/
 .leaflet-top, .leaflet-bottom{
 	z-index:0;
 }

/*
	LISTE ELEMENT MAP (RIGHT)
*/
 #right_tool_map{
	width:300px;
	height:90%;
	position:absolute !important;
	right:5%;
	top:5%;
	background-color:white;
	-moz-box-shadow: -5px -5px 1px 0px rgba(189, 189, 189, 0.40);
	-webkit-box-shadow: -5px -5px 1px 0px rgba(189, 189, 189, 0.40);
	-o-box-shadow: -5px -5px 1px 0px rgba(189, 189, 189, 0.40);
	box-shadow: -5px -5px 1px 0px rgba(189, 189, 189, 0.40);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=315, Strength=3);
}
.right_tool_map_header{
	height:50px;
	width:100%;
	background-color:#5F8295;
	color:white;
}
.right_tool_map_header_title{
	margin-top: 7px;
	margin-left: 20px;
	float: left;
	font-size: 14px;
	font-weight: 500;
	width: 51%;
}

.right_tool_map_header_info{
	margin-top:3px;
	margin-left:20px;
	font-weight: 300;
	font-size: 13px;
	float: left;
	width: 51%;
	
}
#map_pseudo_filters{
	width:100%;
	float:left;
	background-color:white;
	padding:0px;
	text-align: left;
}
#input_name_filter{
	font-size: 13px;
	width: 100%;
	padding-left: 20px;
	text-align: left;
	border-radius: 0px !important;
}
#input_txt_pseudo_filter{
	width:84%;
	padding-left:2%;
	padding-right:2%;
	height:30px;
	background-color:white;
	font-family: "Raleway",sans-serif;
	font-size: 12px;
	border-width:1px;
	border-color:#d3d1d5;
	border-style:solid;
	border-radius:4px 0px 0px 4px;
	float:left;
}
.input-group-addon{
	background-color: #5F8295 !important;
	border-radius:0px !important;
}

#btn_pseudo_filter{
	width:15%;
	height:30px;
	border-width:1px;
	border-left-width:0px;
	border-color:#d3d1d5;
	border-style:solid;
	border-radius:0px 4px 4px 0px;
	float:left;
}
#liste_map_element{
	float:left;
	width:100%;
	padding-top:5px;
	height:100%;
	max-height:100%;
/* 	margin-top:10px; */
	overflow-y:auto;
}
.element-right-list{
	width:100%;
	display:inline-block;
}

.item_map_list .left-col{
	float:left;
	width:65px;
}
#right_tool_map .item_map_list .separation{
	min-width:250px;
	min-height:1px;
	background-color:rgba(128, 128, 128, 0.4);
	float: left;
	margin-left:10px;
	margin-top:5px;
}

.item_map_list .left-col .ico-type-account{
	/*background-color:#2A3945;*/
	background-image:url("flag.png");
	position:relative;
	left:-6px;
	text-align: center;
	height: 20px;
	width: 40px;
	top: 5px;
	font-size:12px;
	padding:2px;
}
.item_map_list .left-col .ico-type-account i.fa{
	padding:0px !important;
	margin-left: 8px;
	position: absolute;
	margin-top:1px;
	left: 3px;
}

.item_map_list .left-col .thumbnail-profil{
	width:50px;
	height:50px;
	background-color:#DADADA;
	border-radius:4px;
	float:right;
}
.item_map_list .left-col .thumbnail-profil img{
	border-radius:4px;
}
.item_map_list .right-col{
	float:left;
	margin-left:10px;
	width:190px;
	margin-bottom:4px;
	max-width:190px;
	text-align: left;
}

.item_map_list .right-col, 
.item_map_list .left-col
.popup-marker .item_map_list .right-col, 
.popup-marker .item_map_list .left-col{
	min-height:55px;
}


.item_map_list .right-col .info_item{
	float:left;
	min-width:90%;
	max-width:90%;
	text-align:left;
	font-family: inherit;
	font-size: 11px;
	color: grey;
}
.item_map_list .right-col .info_item.inline{
	min-width:10px;
	margin-right:7px;
	display:inline;
}
.item_map_list .info_item.text_item_map_list{
	width: 100%;
	overflow: hidden;
	float: left;
	text-align: left;
	max-height: 115px;
	padding: 0px 15px 0px 15px;
	margin-bottom: 10px;
	color:#719FAB !important;
}
.item_map_list .info_item.title_news_item_map_list{
	width: 100%;
	text-overflow: ellipsis;
	float: left;
	text-align: left;
	padding: 0px 15px;
	color: #000 !important;
	font-weight: 500;
	font-size: 14px !important;
	color:#719FAB !important;
	text-transform:uppercase;
}
.item_map_list .info_item.title_news_item_map_list i.fa{
	padding:0px !important;
	margin:0px !important;
	float:none !important;
}
.item_map_list .info_item.startDate_item_map_list{
	font-weight: 200 !important;
	font-size: 25px;
	color: #5C6D78;
	display: inline-block;
	text-align: left;
	float: left;
	margin-left: 15px;
}
.item_map_list .info_item.startDate_item_map_list.double{
	font-size:14px;
	margin-left: 14px;
	margin-top: -3px;
}
.element-right-list .item_map_list{
	float:left;
	width:100%;
	padding-top:6px;
	padding-bottom:0px;
	margin-top:0px;
	text-decoration:none;
	background-color:white;
	border:0px white;
}
.element-right-list .item_map_list:hover{
	background-color:#EFEFEF;
}

.element-right-list .info_item.startDate_item_map_list{
	font-weight: 300 !important;
	font-size: 16px;
	color: #5C6D78;
	display: inline-block;
	margin-left: 0px;
}


.item_map_list.popup-marker{
	width:100%;
	text-decoration:none;
	background-color:transparent;
	border:0px white;
	float:unset;
	display: inline-block;
}
.item_map_list.popup-marker:hover{
	/*background-color:#FFF !important;*/
	background-color:transparent !important;
}

.ico_item_map_list{
	float:left;
	margin-left:10px;
	margin-top:2px;
	margin-right:5px;
}
.pseudo_item_map_list{
	float:left;
	max-width:65%;
	margin-top:-2px;
	/*font-family: "Raleway",sans-serif;*/
	color:black !important;
	font-weight: 500;
	font-size:14px !important;
}
.city_item_map_list{
	
}
.tag_item_map_list{
	color:red;
	font-weight: 500;
	text-decoration: none;
	display: inline;
}
#liste_map_element a.btn.dropdown-toggle{
	margin-right:5%;
	margin-top:5px;
	left:5%;
	width:20%;
}
.dropdown-item-right-list{
	position: relative !important;
	right:10px !important;
	top:8px !important;
}
.btn_right_barre_tool_map{
	float:left;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	text-decoration:none;
	color:black;
	font-family: "Raleway",sans-serif;
	border-width:0px;
	border-bottom-width:1px;
	border-style:dashed;
	border-color:d3d1d5;
}
.btn_right_barre_tool_map:hover{
	background-color:d3d1d5;
}



/* boutons */

.btn-group-map{
	float:right;
 	top:10px;
 	margin-right:10px;
}
.btn-map{
	background-color:#2A3945;
	color:#213042 !important;
	/*font-size:22px !important;*/
	padding: 12px 18px 12px !important;
	font-size:15px !important;
}
.btn-map:hover{
	background-color:#5896AB !important;
}
.btn-full-screen{
	margin-right:150px;
}
.btn-map-separator{
	padding:1px !important;
	background: transparent !important;
}

.btn-more{
	border-color: #D2D2D2 !important;
	margin-top: 5px;
	margin-bottom: 7px !important;
	text-align: center;
	color: #3C3C3C !important;
	font-weight: 500;
	border-radius: 10px 10px 10px 10px !important;
	width: 100%;
}
.btn-communecter-city{
	border-color: #D2D2D2 !important;
	margin-top: 5px;
    margin-bottom: 7px !important;
    text-align: center;
    color: #3C3C3C;
    font-weight: 500;
    border-radius: 10px 10px 10px 10px !important;
	width:100%;
}

.item_map_list .btn-more i{
	float:none !important;
}
.input-search-place{
	margin-left:2px;
	left:210px;
	max-width:262px !important;
}


.input-search-place input.input-search-place-in-map{
	float: left;
	padding: 14px 14px 13px !important;
	width: 204px;
	border-color: transparent !important;
	margin: 0px !important;
	border-width: 1px;
	border-style: solid;
	background-color: rgba(43, 62, 68, 0.91) !important;
	color: #FFF;
	font-weight: 300;
}
.input-search-place input.input-search-place-in-map.input-2s{
	width: 102px !important;
}
.input-search-place input.input-search-place-in-map.input-3s{
	width: 127px !important;
}
.input-search-place input.input-search-place-in-map.input-4s{
	width: 254px !important;
}
.input-search-place input[type="text"]:focus{
	background-image: none !important;
    background: rgba(43, 62, 68, 0.59) !important;
	background-color: rgba(43, 62, 68, 0.6) !important;
	border-color: rgba(230, 230, 230, 0.4) !important;
    color: #fff !important;
}

.input-search-place #dropdown-find-place{
	width: 254px !important;
	margin-top: -4px;
	border: 0px none;
	border-radius: 0px;
	margin-left: 0px;
	float:right !important;
}
.input-search-place #list-dropdown-find-place{
	border-radius:0px;
}

#list-dropdown-find-place.dropdown-menu{
	background-color: #2A3945 !important;
}
#list-dropdown-find-place.dropdown-menu > li > a {
	overflow-x: hidden;
	text-overflow: ellipsis;
	width: 100%;
	color:white;
	font-weight: 200;
}
#list-dropdown-find-place.dropdown-menu > li > a:hover {
	background-color: #5896AB;
	color:white;
}
 /* legende / panel */

 .panel_map{
 	max-width:300px;
 	min-width:150px;
 	background-color:#2A3945;
 	padding:15px 0px;
 	/*max-height:400px;*/
 	overflow-y: auto;
 	z-index: 10;
 	display:none;
 	border-radius:0px;
 	border:none;
 	top:97% !important;
 }
 .item_panel_map{
	text-align:left !important;
	padding-left:10px;
	right:10px;
	padding-bottom:3px;
	padding-top:3px;
 	color:white !important;
 	max-width:300px;
 	min-width:60px;
 	background:transparent;
 	border:0px;
 	border-bottom:1;
 	width:100%;
 	font-size: 1em;
	background: transparent none repeat scroll 0% 0%;
	font-weight: 300;
	text-transform: capitalize;
 }
 .item_panel_map:hover{
  background-color:#5F8295 !important;
 }
 h3.title_panel_map{
 	margin: 0px 0px 0px 0px;
 	margin: 0px;
	padding: 4px;
	padding-left: 15px;
	font-weight: 200;
	color:white;
 }
.item_panel_map.selected{
 	background-color:#77A3AE !important;
	color:#FFF !important;
 }
.item_panel_map.selected:hover{
 	background-color:#5F8295 !important;
	color:#FFF !important;
 }
 .item_panel_map.selected a{
 	text-decoration:none !important;
 	color:white !important;
 }
 .item_panel_map i{
 	font-size:1.3em;
	width:30px;
 	text-align: center; 
 }
 p.item_panel_map {
 	margin-bottom:3px;
 }
.chk_panel_map{
	margin-top:10px !important;
	float:left;
}

/* boutons */

.btn-group-map{
	float:left;
 	top:0px;
 	left:270px;
}
.btn-group-map .btn-group{
	margin-right:20px;
}
.btn-map{
	background-color:#E6D414;
	color:#213042 !important;
	font-size:15px !important;
}
.btn-map:hover{
	background-color:#5896AB;
}
.btn-group-map .btn{
	border-radius:3px !important;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.input-search-place .btn{
	border-radius:0px 3px 0px 0px !important;
}
#ico_reload{
	display:inline;
	padding:13px;
	float:left;
	border-radius: 50%;
	color: #EADF00;
	/*background-color: rgba(32, 80, 119, 0.71);*/
	margin-top: 10px;
}

 .panel_map i.fa { 
 	padding:5px;
 	
 }


 .fa-blue{ color:#00C9FF !important; }
 .fa-yellow{ color:#E6D414 !important; }
 .fa-red{ color:#F03737 !important; }
 .fa-orange{ color:#E6A441 !important; }
 .fa-green{ color:#60CF27 !important; }
 .fa-purple{ color:#B081FF !important; } /*B081FF*/
 .fa-pink{ color:#DB31D3 !important; }
 .fa-white{ color:#FFF !important; }

  .awesome-marker{
  	background:url("");
  }

  .awesome-marker i{
  	font-size:25px;
  	margin-top:18px;
  }

  .item_map_list i{
	padding:1px 6px;
	float:left;
	font-size:1em;
	margin-top:2px;
  }

  .item_map_list i.fa-lightbulb-o{
	font-size:1.4em;
	margin-top:0px !important;
  }
  .item_map_list i.fa-newspaper-o{
	margin-left: 3px !important;
	font-size: 1.1em;
  }


  #lbl-chk-scope{
	height: 46px;
    padding-left: 20px !important;
	padding-top: 5px;
    margin-top: 10px;
    width: 100%;
	font-size:0.9em;
	background-color: #FFF; /*#5F8295;*/
    color: white;
    font-size: 12px;
    box-shadow: -5px 0px 1px 0px rgba(189, 189, 189, 0.4);
  }
  #lbl-chk-scope .pagination{
  	margin:5px auto;
  }
  #lbl-chk-scope .pagination a{
  	color:grey !important;
  }

  #pagination > li.active a{
	color:white !important;
	background-color:#5896AB !important;
	border-color:#5896AB !important;
  }

  .world_pix{
	max-width:60%;
  }


/* style tooltip des chartsMarkers */
	div.leaflet-div-icon {
		background-color:rgba(98, 151, 162, 0.18) !important;;/*gba(30, 38, 51, 0.95) !important;*/
		background-image:url("") !important;
		border-width:0px;
		color:white;
		font-size:13px !important;
		font-family:"Open Sans" !important;
		border-radius:5px;
		height:0 !important;
		max-height:270px !important;
	}
	div.twh-tooltip-element{
		float:left;
		margin-right:8px !important;
		font-size:20px !important;
		font-family:"Open Sans" !important;
		text-align:center;
		margin-bottom:4px !important;
		line-height:42px !important;
	}
	div.twh-tooltip-value{
		max-width:300px;
		font-size:13px !important;
		height:36px !important;
		font-family:"Open Sans" !important;
		text-align:center;
		margin-bottom:4px !important;
	}
	.value{
		padding:10px !important;
		font-size:13px !important;
		font-family:"Open Sans" !important;
	}
	.key{
		padding:10px !important;
		font-size:14px !important;
		font-family:"Open Sans" !important;
	}
	/* carré couleur légende */
	.legend-box{
		display:none !important;
		margin-top:10px !important;
		opacity:1 !important;
		width:20px !important;
		height:20px !important;
	}
	.legend-values .key{
		display: none;
	}



	.marker-cluster{
		border-radius: 40px;
	    margin-left: -38px !important;
	    margin-top: -38px !important;
	    padding:7px !important;
	    width: 77px !important;
	    height: 77px !important;
	    background-image: url("../images/marker_cluster.png");
	    background-color: transparent !important;
	}

	.marker-cluster div{
	    border-radius: 25px;
	    width: 53px !important;
		height: 53px !important;
	    background-color: #FFF !important;
	    padding: 10px !important;
	    font-size: 15px !important;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	}

	
	.marker-cluster-small{
		border-radius: 30px;
	    margin-left: -27px !important;
	    margin-top: -27px !important;
	    padding:7px !important;
	    width: 55px !important;
	    height: 55px !important;
	    background-image: url("../images/marker_cluster_small.png");
	    background-color: transparent !important;
	}

	.marker-cluster-small div{
	    border-radius: 25px;
	    margin-left: 0px !important;
	    margin-top: 0px !important;
	    width: 40px !important;
	    height: 40px !important;
	    background-color: #FFF !important;
	    padding: 5px !important;
	    font-size: 15px !important;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	}
/*
	.leaflet-popup{
		bottom: -40px !important;
		left: 40px !important;
	}
	.leaflet-popup-tip-container {
	    margin: 0px auto;
	    margin-left: 11px;
	    width: 25px;
	    height: 20px;
	    position: absolute;
	    overflow: unset;
	    left: -21px;
	    top: 55px;
	    z-index: -1;
	}
	.leaflet-popup-tip {
		box-shadow: 0px 3px 14px rgba(0, 0, 0, 0);
		margin: 0px auto !important;
	}
	*/

	.leaflet-tile-container.leaflet-zoom-animated{
		/*top:30px !important;*/
	}
	.leaflet-map-pane{
		/*top:154px;*/
	}

	.underline{
		text-decoration: underline !important;
	}
	.underline:hover{
		text-decoration: none !important;
	}

	.leaflet-popup-content h1, h2{
		font-size: 17px;
		text-align: center;
	}
	.leaflet-popup-content h2{
		font-size: 15px;
	}

	.leaflet-popup-content #btn-validate-geopos{
		margin-bottom: 10px;
	}

	#btn-tags, #btn-filter{
		top:0px;
		margin:0px;
		position:absolute;

	}
	#btn-tags .btn-map, #btn-filter .btn-map{
		padding:14px 17px !important;
		border-radius:0px;
		background-color: rgba(42, 57, 69, 0.29) !important;
	}

	#btn-filter{
		right:0px;
	}
	#btn-tags{
		right:49px;
	}

	#panel_map{
		right:-49px !important;
	}
/* style tooltip des chartsMarkers */

@media screen and (max-width: 768px) {

	.panel_map{
		max-width:150px;
		background: none repeat scroll 0% 0% rgba(103, 128, 141, 0.32);
	}

	.item_panel_map{
		font-size:0.9em;
		/*color:rgb(230, 212, 20) !important;*/
	 }



}
