.mapCanvas{
 	width:75%;
 	height:730px;
 	margin-bottom:-730px;
 	background-color:#2A3945;
 	color:black;
 }
 #carto{
 	width: 100%;
	height: 730px !important;
	margin: 0px auto;
	color: #FFF;
 }

 /* legende / panel */
 
 .panel_map{
 	position:relative;
 	max-width:250px;
 	min-width:60px;
 	left:10px;
 	top:10px;
 	background-color:rgba(82, 103, 119, 0.78);
 	padding:15px 0px;
 }
 .item_panel_map{
	text-align:left !important;
	padding-left:15px;
	padding-bottom:3px;
	padding-top:3px;
 	color:white !important;
 	max-width:250px;
 	min-width:60px;
 	
 } 
 .item_panel_map:hover{
  background-color:rgba(194, 203, 222, 0.4);
 }
 .item_panel_map.selected{
 	background-color:rgba(194, 203, 222, 0.6);
 }
 .item_panel_map.selected a{
 	text-decoration:none !important;
 	color:white !important;
 }
 .item_panel_map i{
 	font-size:1.3em;
 }
 p.item_panel_map {
 	margin-bottom:3px;
 }
.chk_panel_map{
	margin-top:10px !important;
	float:left;
}

/* boutons */
 
.btn-group-map{
	float:left;
 	top:0px;
 	left:270px;
}
.btn-map{
	background-color:#E6D414;
	color:#213042 !important;
	font-size:22px !important;
}
.btn-map:hover{
	background-color:#5896AB;
}

#ico_reload{
	display:inline;
	color:#E6D414;
	padding:13px;
	float:left;
	border-radius:5px;
}
 
 .panel_map i.fa { padding:8px; }
 
 
 .fa-blue{ color:#00C9FF !important; }
 .fa-yellow{ color:#E6D414 !important; }
 .fa-red{ color:#F03737 !important; }
 .fa-orange{ color:#FF9000 !important; }
 .fa-green{ color:#60CF27 !important; }
 .fa-purple{ color:#7C2ED1 !important; }
 .fa-pink{ color:#DB31D3 !important; }
 
  .awesome-marker{
  	background:url("");
  }
  
  .awesome-marker i{
  	font-size:25px;
  	margin-top:18px;
  }
  
  .item_map_list i{
	padding:1px 8px; 
	float:left;
	font-size:1.5em;
  }
  
  #lbl-chk-scope{
	height:42px;
	padding-left:4% !important;
	padding-top:8px;
	width:100%;
	font-size:1.1em;
	-moz-box-shadow: inset 0px 3px 2px 0px #c0c0c0;
	-webkit-box-shadow: inset 0px 3px 2px 0px #c0c0c0;
	-o-box-shadow: inset 0px 3px 2px 0px #c0c0c0;
	box-shadow: inset 0px 3px 2px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=180, Strength=2);
}


@media screen and (max-width: 768px) {

	.panel_map{
		max-width:60px;
	}
}